<div class="foot">
	<div class="foot-zhong">
		<table border="0px" class="foot-xi">
			<tr>
				<td>联系我们</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>地址：山东省龙口市通海路29号</td>
				<td>邮编：265701</td>
				<td></td>
			</tr>
			<tr>
				<td>电话：0535-8511088</td>
				<td>传真：0535-8511088</td>
				<td>邮箱：sdzhonglai@163.com</td>
			</tr>
		</table>
		<div class="foot-er">
			<div class="foot-left">
				<h5>官方微信</h5>
			<img src="__PUBLIC__/Home/PC/images/zhonglai/shou_52.jpg">
			</div>
			<div class="foot-tan">友情链接<div class="tan">
				<volist name="links_list" id="vo">
						<a href="{$vo.url}"> {$vo.title}</a>
				</volist>

			</div></div>
		</div>
	</div>
</div>
