<link rel="stylesheet" href="__PUBLIC__/Admin/plugins/datepicker/css/datepicker.css">
<link rel="stylesheet" href="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/css/layer/moon/style.css">
<script src="__PUBLIC__/Admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/js/jquery.validate.min.js"></script>
<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/js/jquery.validate.messages_zh.js"></script>
<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/js/handlebars.min.js"></script>
<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/js/layer.js"></script>
