<div class="header">
  	<div class="logo">
    	<a target="_blank" href="__ROOT__/"><img class="logo_left" src="__PUBLIC__/Home/PC/images/logo_02.jpg" width="350" height="102" /></a>
      <img class="logo_center" src="__PUBLIC__/Home/PC/images/logo_04.jpg" width="400" height="102" />
      <ul class="logo_right">
      	<li>加拿大出国留学基地</li>
        <li>中职学生升入大学直通车</li>
        <li>辽宁装备职业技术学院大连教学区</li>
      </ul>
    </div>
    <div class="nav">
    	<div class="nav_box">
      	<ul>
        	<li><a href="__ROOT__/">首页</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>1,'id'=>1))}">学校介绍</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>10,'id'=>10))}">加拿大留学</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>20,'id'=>31))}">日本留学</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>2,'id'=>2))}">学习模式</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>3,'id'=>3))}">学生成长</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>4,'id'=>4))}">生活关怀</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>5,'id'=>5))}">就业保障</a></li>
          <!--<li><a href="{:U('Index/article',array('column_id'=>6,'id'=>6))}">惠生政策</a></li>-->
          <li><a target="_blank" href="#">学生登录</a></li>
          <li><a target="_blank" href="{:U('Index/article',array('column_id'=>7,'id'=>7))}">联系我们</a></li>
        </ul>
        <div class="lang" style="display:none;">
        	<a href="#"><img class="en" src="__PUBLIC__/Home/PC/images/lang_16.jpg" width="105" height="47" /></a>
          <a href="__ROOT__/"><img class="cn" src="__PUBLIC__/Home/PC/images/lang_18.jpg" width="76" height="47" /></a>
        </div>
      </div>
    </div>
  </div>
