<div class="header">
  <div class="meitou">
		<div class="meitou-zhong">
      <img src="__PUBLIC__/Home/PC/images/zhonglai/shou_02.jpg"  class="logo"/>
			<div class="meitou-right">
				<div class="meitou-right-top">
					<a href="">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">网站地图</a>
				</div>
				<div class="meitou-right-down">
					<form action="post">
						<input type="text" value="请输入关键字" class="so">
						<input type="image" src="__PUBLIC__/Home/PC/images/zhonglai/shou_05.png" alt="Submit" class="ti"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="daohang">
		<div class="daohang-zhong">
			<ul class="clearfix">
				<li><a href="/">首页</a></li>
				<li><a href="{:U('Index/article',array('column_id'=>1,'id'=>1))}">关于我们</a></li>
				<li><a href="{:U('Index/column',array('column_id'=>8))}">产业中心</a></li>
        <li><a href="{:U('Index/column',array('column_id'=>20))}">资讯中心</a></li>
        <li><a href="{:U('Index/column',array('column_id'=>23))}">合资合作</a></li>
        <li><a href="{:U('Index/column',array('column_id'=>17))}">党群建设</a></li>
				<li><a href="">人才招聘</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
		</div>
	</div>

</div>
