<div class="header">
  <div class="meitou">
		<div class="meitou-zhong">
      <img src="__PUBLIC__/Home/PC/images/zhonglai/shou_02.jpg"  class="logo"/>
			<div class="meitou-right">
				<div class="meitou-right-top">
					<a href="">联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="">网站地图</a>
				</div>
				<div class="meitou-right-down">
					<form action="post">
						<input type="text" value="请输入关键字" class="so">
						<input type="image" src="__PUBLIC__/Home/PC/images/zhonglai/shou_05.png" alt="Submit" class="ti"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="daohang">
		<div class="daohang-zhong">
			<ul class="clearfix">
				<li class="dian"><a href="/">首页</a></li>
				<li class="dian"><a href="{:U('Index/article',array('column_id'=>1,'id'=>1))}">关于我们</a>
          <div class="xian">
            <a href="{:U('Index/article',array('column_id'=>1,'id'=>1))}">企业简介</a>
            <a href="{:U('Index/article',array('column_id'=>1,'id'=>30))}">领导致辞</a>
            <a href="{:U('Index/article',array('column_id'=>1,'id'=>31))}">组织结构</a>
            <a href="{:U('Index/article',array('column_id'=>1,'id'=>32))}">企业文化</a>
            <a href="{:U('Index/article',array('column_id'=>1,'id'=>33))}">资质荣誉</a>
            <a href="{:U('Index/article',array('column_id'=>1,'id'=>34))}">发展历程</a>
          </div>
        </li>
				<li class="dian"><a href="{:U('Index/column',array('column_id'=>8))}">产业中心</a>
          <div class="xian">
            <volist name="child_columns" id="vo">
              <eq name="vo.pid" value="2">
                <a href="{:U('Index/column',array('column_id'=>$vo['id']))}"> {$vo.name}</a>
              </eq>
            </volist>
          </div>

        </li>
        <li class="dian"><a >资讯中心</a>
          <div class="xian">
            <volist name="child_columns" id="vo">
              <eq name="vo.pid" value="3">
                <a href="{:U('Index/column',array('column_id'=>$vo['id']))}"> {$vo.name}</a>
              </eq>
            </volist>
          </div>
        </li>
        <li class="dian"><a href="{:U('Index/column',array('column_id'=>23))}">合资合作</a>
          <div class="xian">
            <volist name="child_columns" id="vo">
              <eq name="vo.pid" value="4">
                <a href="{:U('Index/column',array('column_id'=>$vo['id']))}"> {$vo.name}</a>
              </eq>
            </volist>
          </div>

        </li>
        <li class="dian"><a href="{:U('Index/column',array('column_id'=>17))}">党群建设</a>
          <div class="xian">
            <volist name="child_columns" id="vo">
              <eq name="vo.pid" value="5">
                <a href="{:U('Index/column',array('column_id'=>$vo['id']))}"> {$vo.name}</a>
              </eq>
            </volist>
          </div>

        </li>
				<li class="dian"><a href="">人才招聘</a>
          <div class="xian">
            <volist name="child_columns" id="vo">
              <eq name="vo.pid" value="6">
                <a href="{:U('Index/column',array('column_id'=>$vo['id']))}"> {$vo.name}</a>
              </eq>
            </volist>
          </div>
        </li>
				<li class="dian"><a href="">联系我们</a>
          <div class="xian">
            <a href="{:U('Index/article',array('column_id'=>7,'id'=>7))}">联系我们</a>
            <a href="{:U('Index/article',array('column_id'=>7,'id'=>129))}">在线留言</a>
          </div>
        </li>
			</ul>
		</div>
	</div>

</div>
