	<div class="header">
  	<div class="logo"><a href="__ROOT__"><img src="__PUBLIC__/Home/PC/images/logo_02_02.jpg" width="388" height="108" /></a></div>
    <ul class="nav">
    	<li>
      	<a class="case_nav <in name='Think.get.column_id' value='1,6,9,10,11,12'>hover</in>"  href="{:U('Index/column',array('column_id'=>1))}">净化工程案例<div class="box"></div></a>
        <ul class="son">
        	<li><a href="{:U('Index/column',array('column_id'=>6))}">电子行业</a></li>
          <li>/</li>
          <li><a href="{:U('Index/column',array('column_id'=>9))}">药品行业</a></li>
          <li>/</li>
          <li><a href="{:U('Index/column',array('column_id'=>10))}">食品行业</a></li>
          <li>/</li>
          <li><a href="{:U('Index/column',array('column_id'=>11))}">机械行业</a></li>
          <li>/</li>
          <li><a href="{:U('Index/column',array('column_id'=>12))}">其他行业</a></li>
        </ul>
      </li>
      <li><a class="<eq name='Think.get.column_id' value='2'>hover</eq>" href="{:U('Index/column',array('column_id'=>2))}">新闻中心<div class="box"></div></a></li>
      <li>
      	<a class="case_nav <in name='Think.get.column_id' value='7,8'>hover</in>">社会责任<div class="box"></div></a>
        <ul class="son" style="width:200px;">
        	<li><a href="{:U('Index/column',array('column_id'=>7))}">社会公益</a></li>
          <li>/</li>
          <li><a href="{:U('Index/column',array('column_id'=>8))}">企业文化</a></li>
        </ul>
      </li>
      <li><a class="<in name='Think.get.column_id' value='4,14,15'>hover</in>" href="{:U('Index/article',array('column_id'=>4,'id'=>1))}">关于我们<div class="box"></div></a></li>
      <li><a class="<eq name='Think.get.column_id' value='5'>hover</eq>" href="{:U('Index/article',array('column_id'=>5,'id'=>2))}">联系我们<div class="box"></div></a></li>
    </ul>
  </div>