<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<include file="PC/Public/assets" />
	<include file="PC/Public/form_assets" />

</head>

<body>
	<include file="PC/Public/head" />
	<div class="bodyer">
		<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center; background-size: cover; height: 360px;"></div>
		<div class="other_content neijj">
			<div class="neijj-zhong">
				<div class="neijj-left">
					<h4>{$column_parent_name}</h4>
					<ul>
						<volist name="column_list" id="vo">

							<li class="<eq name="vo.id" value="$Think.get.column_id ">over</eq>">
								<if condition="$vo.id eq 31">
									<a href="{:U('Index/article',array('column_id'=>$vo['id'], 'id'=>134))}">
										{$vo.name}</a>
									<elseif condition="$vo.id eq 32" />
									<a href="{:U('Index/article',array('column_id'=>$vo['id'], 'id'=>135))}">
										{$vo.name}</a>
									<else />
									<a href="{:U('Index/column',array('column_id'=>$vo['id']))}">
										{$vo.name}</a>
								</if>
							</li>
						</volist>

					</ul>
				</div>
				<div class="neijj-right">
					<img src="__PUBLIC__/Home/PC/images/zhonglai/jj_01.jpg" class="shou-gy">
					<h4><a href="javascript:0" class="list_job_btn">在线招聘 </a> | <a href="javascript:0" class="apply_job_btn">申请职位</a></h4>
					<span class="entitle">ENTERPRISE INTRODUCTION</span>
					<div class="shou-mian">
						<img src="__PUBLIC__/Home/PC/images/zhonglai/jj_02.jpg" class="shou-jj">
						<span>首页&gt;关于我们&gt;公司简介</span>
					</div>

					<div style="clear:both"></div>
					<hr>
					<div class="neirong ">
						<div class="jobs">
							<div class="widget-job-2">
								<volist name="list" id="vo" key="k">

									<div id="jt{$vo.id}" class="_jt ">
										<strong> {$vo.title}</strong>
										<span><!--2018/07/13--></span>
									</div>
									<div class="_jc">
										<div class="_jcon">
											<p>
											</p>
											<p style="white-space: normal;"><span style="font-family: 宋体, SimSun; font-size: 18px;">需求人数：{$vo.job_renshu}；</span></p>
											<p style="white-space: normal;"><span style="font-family: 宋体, SimSun; font-size: 18px;">专业：{$vo.job_zhuanye}</span></p>
											<p style="white-space: normal;"><span style="font-family: 宋体, SimSun; font-size: 18px;">具体要求：{$vo.content}</span></p>
											<p>
												<a href="javascript:0" class="_btn apply_job_btn">应聘职位</a>
												<a data-id="jt{$vo.id}" href="javascript:void(0)" class="_btn collect" onclick="_addFavoriteJob( {$vo.id})">收藏职位</a>
											</p>
										</div>
									</div>
								</volist>

							</div>
							<div class="page">{$page}</div>
						</div>
						<div class="apply_job " style="display:none;" >
							<form id="job_form" class="job_form" method="post" action="{:U('Applicant/post')}">
							 <div class="_items">
								<span class="_t">个人信息</span>
								<div class="xian2"></div>
								<div style="clear:both"></div>
							 </div>
							 <div class="row">
								<div class="span-6  smal-12">
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>姓　　名：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" msg="请输入您的姓名!" datatype="*" nullmsg="请输入姓名" maxlength="30" id="linkMan" name="fullname" required>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>应聘职位：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" msg="请输入您要应聘的职位!" datatype="*" nullmsg="请输入应聘职位" maxlength="30" id="name" name="position" required >
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>身份证号：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" datatype="*" nullmsg="请输入身份证号!" minlength="18" maxlength="18" id="idCard" name="id_num" required>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>户口所在地：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" datatype="*" nullmsg="请输入户口所在地!" maxlength="200"  name="id_address" required>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>联系方式：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" maxlength="13" datatype="m" msg="请输入手机号码" name="mobile" required>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
										专　　业：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" maxlength="30" id="specialty" name="major">
									</div>
								 </div>
								</div>

								<div class="span-6 smal-121">
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>性　　别：
									</div>
									<div class="_input dib">
									 <select class="_select" datatype="*" nullmsg="请选择性别!" id="sexType" name="gender"> <option value="0">女</option> <option value="1">男</option> </select>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>婚姻状况：
									</div>
									<div class="_input dib">
									 <select class="_select" datatype="*" nullmsg="请选择婚姻状况!" id="married" name="married"> <option value="0">未婚</option> <option value="1">已婚</option> </select>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>现住址：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" datatype="*" nullmsg="请填写现居住地址!" maxlength="200" id="address" name="address" required>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
									 <b>*</b>最高学历：
									</div>
									<div class="_input dib">
									 <select class="_select" datatype="*" nullmsg="请选择最高学历!" id="education" name="degree"> <option value="初中">初中</option> <option value="高中">高中</option> <option value="中专">中专</option> <option value="大专">大专</option> <option value="本科">本科</option> <option value="研究生">研究生</option> <option value="博士">博士</option> </select>
									<span class="Validform_checktip"></span></div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
										毕业院校：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp" maxlength="200" id="graduated_from" name="graduated_from">
									</div>
								 </div>
								 <div class="job_form_row clearfix">
									<div class="_t dib">
										毕业时间：
									</div>
									<div class="_input dib">
									 <input type="text" class="inp date date-picker" id="graduate_date" name="graduated_at">
									</div>
								 </div>
								</div>
							 </div>
							 <div style="clear:both"></div>
							 <div class="_items">
								<span class="_t">工作经历</span>
								<div class="xian2"></div>
								<div style="clear:both"></div>
							 </div>
							 <div class="teamW">
								<div class="teamItemW">

								 <div class="row">
									<div class="span-12">
	 									 <div class="job_form_row clearfix">
	 										<div class="_t" style="font-weight:bold;">	工作经历&nbsp;&nbsp;&nbsp;&nbsp;</div>
	 									 </div>
  								</div>
									<div class="span-6  smal-12">
									 <div class="job_form_row clearfix">
										<div class="_t dib">
											开始时间：
										</div>
										<div class="_input dib">
										 <input type="text" class="inp date date-picker"  name="exp1_start_at">
										</div>
									 </div>
									 <div class="job_form_row clearfix">
										<div class="_t dib">
											工作单位：
										</div>
										<div class="_input dib">
										 <input type="text" class="inp" maxlength="100"   name="exp1_company">
										</div>
									 </div>
									</div>
									<div class="span-6  smal-121">
									 <div class="job_form_row clearfix">
										<div class="_t dib">
											结束时间：
										</div>
										<div class="_input dib">
										 <input type="text" class="inp date date-picker" name="exp1_end_at">
										</div>
									 </div>
									 <div class="job_form_row clearfix">
										<div class="_t dib">
											职　　务：
										</div>
										<div class="_input dib">
										 <input type="text" class="inp" maxlength="100"   name="exp1_position">
										</div>
									 </div>
									</div>
									<div style="clear:both"></div>
									<div class="span-12">
									 <div class="job_form_row clearfix">
										<div class="_t dib">	职责描述：	  </div>
									  <div class="_input dib _long">
									 <textarea class="_textarea" data-max="200"  name="exp1_responsibility"></textarea>
									</div>

									 </div>
									</div>
								 </div>
								</div>
							 </div>
							 <div class="job_form_row  clearfix ">
								<a  class="add_btn add_work" href="javascript:0;" style="margin-left:7em;"><i></i>增加</a>
								<a  class="dele_btn del_work" href="javascript:0;"><i></i>删除</a>
							 </div>
							 <div class="_items">
								<span class="_t">其他信息</span>
								<div class="xian2"></div>
								<div style="clear:both"></div>
							 </div>
							 <div class="row">
								<div class="span-12">

								 <div class="job_form_row clearfix">
									<div class="_t dib">
										资格证书：
									</div>
									<div class="_input dib _long">
									 <textarea class="_textarea" data-max="200" id="qualification" name="qualification"></textarea>
									</div>
								 </div>
								 <div style="clear:both"></div>
								 <div class="job_form_row clearfix">
									<div class="_t dib" style="">
										其他：
									</div>
									<div class="_input dib _long">
									 <textarea class="_textarea" data-max="200" id="self_evaluation" name="self_evaluation"></textarea>
									</div>
								 </div>
								</div>
							 <div style="clear:both"></div>
								<div class="row1">
								 <div class="span-12">
									<div class="_act">
									 <button class="sub submit" type="button">提交</button>
									 <button class="res reset" type="reset">重置</button>
									</div>
								 </div>
								</div>
							 </div>
							 <input type="hidden" name="method" value="jobResume">
						 </form>

						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
	<include file="PC/Public/foot" />

	<script id="tpl" type="text/x-handlebars-template">
		<div class="teamItemW">
		 <div class="row">
			 <div class="span-12">
					<div class="job_form_row clearfix">
					 <div class="_t" style="font-weight:bold;">	工作经历&nbsp;&nbsp;&nbsp;&nbsp;</div>
					</div>
			 </div>

			<div class="span-6  smal-12">
			 <div class="job_form_row clearfix">
				<div class="_t dib">
					开始时间：
				</div>
				<div class="_input dib">
				 <input type="text" class="inp date date-picker"  name="exp{{i}}_start_at">
				</div>
			 </div>
			 <div class="job_form_row clearfix">
				<div class="_t dib">
					工作单位：
				</div>
				<div class="_input dib">
				 <input type="text" class="inp" maxlength="100"  name="exp{{i}}_company">
				</div>
			 </div>
			</div>
			<div class="span-6  smal-121">
			 <div class="job_form_row clearfix">
				<div class="_t dib">
					结束时间：
				</div>
				<div class="_input dib">
				 <input type="text" class="inp date date-picker" name="exp{{i}}_end_at">
				</div>
			 </div>
			 <div class="job_form_row clearfix">
				<div class="_t dib">
					职　　务：
				</div>
				<div class="_input dib">
				 <input type="text" class="inp" maxlength="100" name="exp{{i}}_position">
				</div>
			 </div>
			</div>
			<div style="clear:both"></div>
			<div class="span-12">
			 <div class="job_form_row clearfix">
				<div class="_t dib">
				职责描述：
			</div>
			<div class="_input dib _long">
			 <textarea class="_textarea" data-max="200"  name="exp{{i}}_responsibility"></textarea>
			</div>

			 </div>
			</div>
		 </div>
		</div>

	</script>

	<script type="text/javascript">


	jQuery(document).ready(function() {
		$('.date-picker').datepicker({
			format: 'yyyy-mm-dd',
			autoclose: true
		});
    var validator = $(".job_form").validate();
		console.log("validator", validator);
		$('.job_form .submit').click(function(){
			if( validator.form()){
				let url = $(".job_form").attr('action')
				$.post(url,$(".job_form").serialize(), function(result){
					 if( result.ret == 1){
						 layer.open({
							  title: '在线简历'
							  ,content: '您的简历已经提交成功！'
							});
						 validator.reset();
						 document.getElementById("job_form").reset()

					 }else{
						 alert("抱歉，由于系统原因，暂时无法提交，请您稍后再提交！");

					 }
				 }, 'json');
			}else{
				alert('请检查填写表单，按照提示完善内容！')
			}
		})

		$('.add_work').on('click',function(){
			//用jquery获取模板
	     var source   =  $("#tpl").html();
			 var length = $('.job_form .teamItemW').size()
	     //预编译模板
	     var template = Handlebars.compile(source);
	     //模拟json数据
	     var context = { i: length+1 };
	     //匹配json内容
	     var html = template(context);
	     //输入模板
	      $('.job_form .teamW').append(html);

				$('.date-picker').datepicker({
					format: 'yyyy-mm-dd',
					autoclose: true
				});
		})
		//$('#content').handlebars($('#template'), { name: "Alan" });
		$('.del_work').on('click',function(){
			$('.job_form .teamItemW:last').remove();

		})
		$('.job_form .reset').on('click',function(){
			validator.reset();

		})

		$('.list_job_btn').on('click',function(){
			$('.apply_job').hide();
			$('.jobs').fadeIn();
		})
		$('.apply_job_btn').on('click',function(){
			$('.jobs').hide();
			$('.apply_job').fadeIn();
		})

	});





</script>

</body>

</html>
