<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="viewport" content="width=640, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" >
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/MOB/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/xin.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/Home/MOB/js/swiper.min.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery-3.2.1.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery.carouFredSel-6.0.4-packed.js"></script>
</head>

<body>
<include file="MOB/Public/head" />
<div class="bodyer1">
<div class="bianxian"></div>
<div class="swiper-container banner swiper-container-horizontal">
            <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-active" style="background: url(__ROOT__/Uploads/{$column_data.mob_pic}) center center no-repeat; width: 640px;"></div>
              
 <div class="swiper-pagination"></div>
</div>

</div>

<div class="bodyer2">

<h3 style="height: 150px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp考取全日制统招本科院校，有两种途径，一种是普通高中的学生通过参加普通高考，按考试成绩被大学择优录取；另一种是职业学校的学生通过参加全国统一的“对口升学”考试，升入全日制统招院校。我校开设的本科升学班，特别适合于想读大学、文化课成绩不理想但喜欢学习专业技术的学生。</h3>


<div class="smdk">
    <img src="__PUBLIC__/Home/MOB/images/duikou_03.jpg"><h2>什么是对口升学</h2><hr style="margin-top:20px;">
    <pre>    对口升学是国家从高校招生计划中选择部分专业，拿出专门指标，
对希望继续深造的职校生进行对口专业的考试。
    对口升学计划是属于当年高招计划的一部分，对口升学的学生大
学毕业后和同年通过普通高考进入大学深造的学生无异：均获得国家
承认、国家教育部电子注册的全日制高等教育统招学籍。</pre>
    
    <img src="__PUBLIC__/Home/MOB/images/duikou_06.jpg"><h2>对口升学的优势</h2><hr style="margin-top:20px;">
    <pre>    与普通高考相比，对口升学更加注重专业技术，用在职业学校期
间学习的专业综合课成绩代替理科综合（或文科综合）考试成绩，因
此文化课程难度较低、录取机率大。非常适合文化课基础薄弱、有兴
趣特长、动手操作能力强的学生，是读取大学的另一条通路。</pre> 

<img src="__PUBLIC__/Home/MOB/images/duikou_09.jpg"><h2>对口升学的考试科目</h2><hr style="margin-top:20px;">
    <pre>（1）文化基础课：语文、数学、外语3门。其中语文、数学满分为120
分，外语满分为100分，共340分。
（2）专业综合课:3门，每门100分，共300分。
（3）技能考核:100分。
总分为740分。</pre> 

<img src="__PUBLIC__/Home/MOB/images/duikou_13.jpg"><h2>我校对口升学开设的专业</h2><hr style="margin-top:20px;">
    <pre>    为保证专而精，确保升学率。我校2017年对口升学开设两门专业：
数控加工技术、计算机应用、学前教育（双语幼师）。</pre> 

<img src="__PUBLIC__/Home/MOB/images/duikou_17.jpg"><h2>对口升学可以考取的本科院校</h2><hr style="margin-top:20px;">
<img src="__PUBLIC__/Home/MOB/images/duikou_21.jpg" style="width:206px;height:185px;">
<h3>（1）数控技术专业：</h3><hr style="margin-top:20px;">
<pre>天津职业技术师范大学、大连海洋大学、辽东学院、辽宁工程技术大
学、辽宁科技大学、辽宁科技学院、辽宁石油化工大学。</pre>
<h3>（2）计算机应用专业：</h3><hr style="margin-top:20px;">
<pre>天津职业技术师范大学、渤海大学、大连海洋大学、大连科技学院、
辽东学院、大连科技学院、辽宁工程技术大学、辽宁科技大学、辽宁
科技学院、辽宁理工学院。</pre>
<h3>（3）学前教育（双语幼师）：</h3><hr style="margin-top:20px;">
<pre>沈阳师范大学、沈阳大学、鞍山师范学院。</pre>

<img src="__PUBLIC__/Home/MOB/images/duikou_25.jpg"><h2>对口升学的招生条件</h2><hr style="margin-top:20px;">
    <img src="__PUBLIC__/Home/MOB/images/duikou_29.jpg" style="width:100%;height:120px;">
</div>
</div>
</div>
<include file="MOB/Public/foot" />
</body>
</html>
