<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<include file="MOB/Public/head" />
</head>

<body>
	<include file="MOB/Public/nav" />
	<div class="shouji">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<volist name="mob_slide_list" id="vo">
					<div class="swiper-slide" style="background:url(__ROOT__/Uploads/{$vo.pic}) no-repeat center;"></div>
					</volist>
				</div>
				<div class="banner_page">
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<script>
			var mySwiper = new Swiper('.swiper-container', {
				autoplay: 5000,//可选选项，自动滑动
				pagination: '.swiper-pagination',
				paginationClickable: true
			})
			</script>

		<div class="sj-yw">
			<div class="sj-y">
				<h4>业务领域</h4>
				<p><a href="{:U('Index/column',array('column_id'=>2))}">更多&gt;</a></p>
				<div style="clear:both"></div>
			</div>
			<ul>
				<volist name="child_columns" id="vo">
					<eq name="vo.pid" value="2">
						<in name="vo.id" value="8,9,10,11">
							<li class="" >
						  	<a href="{:U('Index/column',array('column_id'=>$vo['id']))}"><img src="__ROOT__/Uploads/{$vo.mob_pic}" >
                <p> {$vo.name} </p></a>
							</li>
						</in>
					</eq>
				</volist>
			</ul>
		</div>


		<div class="nei-xin" id="nei-xin">

			<div class="hd clearfix">
				<ul>
					<li class="on">集团新闻</li>
					<li class="">下属动态</li>
				</ul>
				<a href="" class="nei-duo">更多&gt;</a>
			</div>

			<div class="bd ">
				<ul class="xxww" style="display:block">
					<volist name="jituan_list" id="vo">
							<li class="clearfix">
								<a  href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
									<span class="title pull-left">{$vo.title}</span>
									<span class="time pull-right">{$vo.post_time|mb_substr=5,5,'utf-8'}</span>
								</a>
							</li>
					</volist>
				</ul>

				<ul class="xxww" style="display:none">
					<volist name="xiashu_list" id="vo">
							<li class="clearfix">
								<a  href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
									<span class="title pull-left">{$vo.title}</span>
									<span class="time pull-right">{$vo.post_time|mb_substr=5,5,'utf-8'}</span>
								</a>
							</li>
					</volist>
				</ul>
			</div>
		</div>


		<div class="sj-yw1">
			<div class="sj-y">
				<h4>公司简介</h4>
				<p class="sj-p"><a href="{:U('Index/article',array('column_id'=>1,'id'=>1))}">更多&gt;</a></p>
				<div style="clear:both"></div>
			</div>
			<a href="{:U('Index/article',array('column_id'=>1,'id'=>1))}"><img src="__PUBLIC__/Home/MOB/images/shou_29.jpg" class="nei-xian-tu1"></a>
			<p style="text-indent:2em;padding-top: 0.5em;">山东中莱集团坐落于风景秀丽、美丽富饶的海滨城市——龙口，成立于一九九二年，现已发展成一个集建筑安装、房地产开发与销售、物业管理、装饰装修、塑钢门窗、餐饮洗浴、宾馆服务、建材经营、工程咨询等多种产业为一体的综合性企业集团，走出了一条”一业为主，多业并举，求真务实、稳健经营“的多元化发展道路。</p>
		</div>


		<div class="sj-yw1">
			<div class="sj-y">
				<h4>行业动态</h4>
				<p class="sj-p"><a href="{:U('Index/column',array('column_id'=>22))}">更多&gt;</a></p>
				<div style="clear:both"></div>
			</div>
			<img src="__PUBLIC__/Home/MOB/images/shou_31.jpg" class="nei-xian-tu1">
			<ul class="xinwen xxww" >
				<volist name="hangye_list" id="vo">
						<li class="clearfix">
							<a  href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
								<span class="title pull-left">{$vo.title}</span>
								<span class="time pull-right nei-duo">{$vo.post_time|mb_substr=5,5,'utf-8'}</span>
							</a>
						</li>
				</volist>
			</ul>

		</div>

		<div class="sj-yw1">
			<div class="sj-y">
				<h4>党群工作</h4>
				<p class="sj-p"><a href="{:U('Index/column',array('column_id'=>17))}">更多&gt;</a></p>
				<div style="clear:both"></div>
			</div>
			<img src="__PUBLIC__/Home/MOB/images/shou_33.jpg" class="nei-xian-tu1">
			<ul class="xinwen xxww">
				<volist name="dangqun_list" id="vo">
						<li class="clearfix">
							<a  href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
								<span class="title pull-left">{$vo.title}</span>
								<span class="time pull-right nei-duo">{$vo.post_time|mb_substr=5,5,'utf-8'}</span>
							</a>
						</li>
				</volist>
			</ul>
		</div>


		<div class="sj-yw1">
			<div class="sj-y">
				<h4>视频展播</h4>
				<p class="sj-p"><a href="{:U('Index/column',array('column_id'=>21))}">更多&gt;</a></p>
				<div style="clear:both"></div>
			</div>
			<VIDEO src="movie.ogg" controls="controls" class="nei-xian-tu1"></VIDEO>

		</div>


		<div class="sj-yw1">
			<div class="sj-y">
				<h4>专题专栏</h4>
				<p class="sj-p"><a href="">更多&gt;</a></p>
				<div style="clear:both"></div>
			</div>

			<a href="{:U('Index/article',array('column_id'=>1,'id'=>33))}" class="xin-left1"><img src="__PUBLIC__/Home/MOB/images/shou_39.jpg"></a>
			<a href="{:U('Index/column',array('column_id'=>8))}" class="xin-right1"><img src="__PUBLIC__/Home/MOB/images/shou_41.jpg"></a>
			<a href="" class="xin-left1"><img src="__PUBLIC__/Home/MOB/images/shou_45.jpg"></a>
			<a href="" class="xin-right1"><img src="__PUBLIC__/Home/MOB/images/shou_47.jpg"></a>
		</div>

		<div class="sj-yw1">
			<div class="sj-y">
				<h4>热点连接</h4>
				<p class="sj-p"><a href="">更多&gt;</a></p>
				<div style="clear:both"></div>
			</div>
			<div class="shi-top">
				<a href="" class="shi-dian3">OA办公</a>
				<a href="" class="shi-dian4">招标平台</a>
			</div>

		</div>


	</div>
	<include file="MOB/Public/foot" />
	<script id="jsID" type="text/javascript">
			TouchSlide({slideCell:"#nei-xin"});
	</script>


</body>

</html>
