<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="viewport" content="width=640, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" >
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/MOB/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/xin.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/Home/MOB/js/swiper.min.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery-3.2.1.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery.carouFredSel-6.0.4-packed.js"></script>
</head>

<body>
<include file="MOB/Public/head" />
<div class="bodyer1">
  <div class="bianxian"></div>

  <div class="bodyer2">
    <div class="smdka">
      <h2>专业介绍</h2>
      <p class="en" style="">PROFESSIONAL INTRODUCTION</p>
      <h2 class="major_name">{$data.title} </h2>
      <h3>培养方向</h3>
      {$data.direction}
      <hr style="margin-top: 20px;">
      <h3>主要课程</h3>
      {$data.course}
      <hr style="margin-top: 20px;">
      <h3>就业方向</h3>
      {$data.obtain}
      <hr style="margin-top: 20px;">
      <h3>部分就业企业</h3>
      {$data.enterprise}
	  <div class="major_footer">
      <img src="__PUBLIC__/Home/MOB/images/zhuanye_11.jpg" style="float: left;width: 150px;height:150px;">
      <div class="lianxi">
        <p>咨询电话：0411-87588456   87588567</p>
        <p>学校地址：大连市经济技术开发区32号小区支一路（邮电大厦西北500米）</p>
        <p>学校网址：http://www.jishuedu.com</p>
      </div>
	  </div>
    </div>
  </div>
</div>
<include file="MOB/Public/foot" />
</body>
</html>
