<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="viewport" content="width=640, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" >
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/MOB/css/css2.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/xin.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/Home/MOB/js/swiper.min.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery-3.2.1.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery.carouFredSel-6.0.4-packed.js"></script>
</head>

<body>
<include file="MOB/Public/head" />
<div class="bodyer1">
  <div class="bianxian"></div>
  <div class="swiper-container banner swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-active" style="background: url(__PUBLIC__/Home/MOB/images/jia_1.jpg) center center no-repeat; width: 640px;"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <ul class="overseas_btn f-cb">
  	<li><a href="{:U('Index/article',array('column_id'=>10,'id'=>10))}">加拿大留学的优势和条件</a></li>
    <li><a href="{:U('Index/article',array('column_id'=>10,'id'=>12))}">为什么选择乔治亚学院</a></li>
    <li><a href="{:U('Index/article',array('column_id'=>10,'id'=>11))}">我校的优势及教学模式</a></li>
  </ul>
  <div class="bodyer2 canada">
    <div class="max_content_content  ">
      <div class="advantages u-section">
        <p class="u-head" style="">
          <span class="hicon hicon1">加拿大留学的五大优势</span>
        </p>

        <p class="u-content" >
          <span style="color: rgb(127, 127, 127);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一直以来，加拿大以其高度发达的经济、高素质的文明、高质量的教育、高福利的社会保障体系吸引着来自世界各地的莘莘学子赴那里留学、移民。到加拿大留学比到其它国家有以下六大优势：</span>
        </p>
        <p>
          <br/>
        </p>
        <p style="padding:36px 0;">
          <img title="加拿大留学的五大优势" src="__PUBLIC__/Home/PC/images/canada/sample.png" />
        </p>
        <p>
          <br/>
        </p>
        <div class="clear" style="margin:0 -10px; ">
          <div class="advantage" style="width:33.33%;padding: 0 10px;">
            <p class="u-title" style="">
              留学-就业-移民
            </p>
            <p class="u-content" style="height: 8em;">
              加拿大是少有的鼓励留学生就业和移民的国家。留学生就业率高，薪酬待遇好，毕业工作一年后可以申请移民。
            </p>
          </div>
          <div class="advantage" style="width:33.33%;padding: 0 10px;">
            <p class="u-title" style="">
              经济压力小
            </p>
            <p class="u-content" style="height: 8em;">
              加拿大的留学费用比英美等国家低很多，且有很多带薪实习和兼职工作的机会，家庭经济负担较轻。
            </p>
          </div>
          <div class="advantage" style="width:33.33%;padding: 0 10px;">
            <p class="u-title" style="">
              教育水平高
            </p>
            <p class="u-content" style="height: 8em;">
              加拿大教育体系发达且注重人性化，能够发挥每个学生的特长，教育水平居世界前列。
            </p>
          </div>
        </div>
        <div class="clear" style="margin:0 -10px;padding:16px 0;">
          <div class="advantage" style="width:50%;padding: 0 10px;">
            <p class="u-title" style="">
              <span>生活质量好</span>
            </p>
            <p class="u-content" style="height: 6.5em;">
              加拿大施行免费义务教育和免费医疗，社会福利完善，民众素质高，自然资源丰富，环境优美，是世界上最安全、最宜居的国家之一。
            </p>
          </div>
          <div class="advantage" style="width:50%;padding: 0 10px;">
            <p class="u-title" style="">
              多元文化，友好平等
            </p>
            <p class="u-content" style="height: 6.5em;">
              多元文化和人人平等是加拿大重要的国策，是世界最友好的国家，不会受到排斥和歧视。
            </p>
          </div>
        </div>
        <p style="padding:36px 0;">
          <img title="加拿大留学的五大优势" src="__PUBLIC__/Home/PC/images/canada/f11.png" />
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon2">在加拿大读大学与学院的比较</span>
        </p>
        <p>
          <img title="在加拿大读大学与学院的比较" src="__PUBLIC__/Home/PC/images/canada/ptable0.png" />
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon3">录取难度</span>
        </p>
        <p class="u-content">
          对比加拿大University相对较严苛的录取要求，College对申请人高中成绩的要求更适合普通的高中学生。
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon4">学术压力</span>
        </p>
        <p class="u-content">
          与University“理论为上、大班授课、严进严出”特点相比较，College教育更注重“实际应用、小班课堂、高毕业率、高就业率”。
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon5">就业状况</span>
        </p>
        <p class="u-content">
          加拿大官方数据披露，College的学生由于实践经验丰富、专业实用性强，平均就业率高于80%，在就业率方面完胜University。
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon6">费用与时间</span>
        </p>
        <p class="u-content">
          绝大部分加拿大学生的高等教育花费都是由学生本人负担（学生贷款），因此在择校与就业方面，College以较短的就读时间、较低的学费负担、灵活的“专升本”体系等优势倍受普通工薪家庭的青睐。
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon7">工签与移民</span>
        </p>
        <p class="u-content">
          针对国际学生的毕业后签证，University和College的毕业生均可获得3年工作签证，工作一年后有平等机会申请办理移民。
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon2">续读名校</span>
        </p>
        <p class="u-content">
          College学生就读2-3年并顺利毕业后，既可直接转学分到University续读本科专业，亦可选择先就业并申请移民，移民成功后续读本科节省更多费用。
        </p>
      </div>
    </div>
  </div>
</div>
<include file="MOB/Public/foot" />
</body>
</html>
