<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="viewport" content="width=640, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" >
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/MOB/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/xin.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/Home/MOB/js/swiper.min.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery-3.2.1.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery.carouFredSel-6.0.4-packed.js"></script>
</head>

<body>
<include file="MOB/Public/head" />
<div class="bodyer1">
  <div class="bianxian"></div>
  <div class="swiper-container banner swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-active" style="background: url(__PUBLIC__/Home/MOB/images/jia_2.jpg) center center no-repeat; width: 640px;"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <ul class="overseas_btn">
    <li><a href="{:U('Index/article',array('column_id'=>10,'id'=>10))}">加拿大留学的优势和条件</a></li>
    <li><a href="{:U('Index/article',array('column_id'=>10,'id'=>12))}">为什么选择乔治亚学院</a></li>
    <li><a href="{:U('Index/article',array('column_id'=>10,'id'=>11))}">我校的优势及教学模式</a></li>
  </ul>
  <div class="bodyer2 canada">
    <div class="max_content_content">
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon21">选择乔治亚学院的六大理由</span>
        </p>
        <div class="u-content" style="">
          <p style="padding: 0 0 36px 0;">
            乔治亚学院（Georgian College）是加拿大安大略省历史最久的公立学院之一，该学院校企合作广泛、课程实用前沿、就业率优异而享有盛誉。全院共有120多个市场热门专业，11000余名学生，就业率在加拿大安大略省排名第一，是中国学生最理想的留学选择。
          </p>
          <div class="georgia clear" style="margin:0 -8px; ">
            <div class="greason greason1" style="width:33.33%;">
              <p class="title title1" style="">
                公立学院
              </p>
              <p class="gcontent" style="">
                五十多年的办学历史，公立学院,中国国家教育部承认学历。
              </p>
            </div>
            <div class="greason greason2" style="width:33.33%;">
              <p class="title title2" style="">
                多年就业率 全省第一
              </p>
              <p class="gcontent" style="">
                6200个就业合作企业，就业率87.3%以上，90.2%的用人企业对毕业生感到满意。
              </p>
            </div>
            <div class="greason greason3" style="width:33.33%;">
              <p class="title title3" style="">
                学院规模可观
              </p>
              <p class="gcontent" style="">
                七个校区， 11000多名在校生，2600名教职员工。
              </p>
            </div>
            <div class="greason " style="width:33.33%;">
              <p class="title title4" style="">
                奖学金丰厚
              </p>
              <p class="gcontent" style="">
                每年奖学金总额250万加币（1250万人民币）。
              </p>
            </div>
            <div class="greason " style="width:33.33%;">
              <p class="title title5" style="">
                学术领先
              </p>
              <p class="gcontent" style="">
                汽车产业管理专业北美驰名，机电工程专业全国前五，商科类专业名列前茅。
              </p>
            </div>
            <div class="greason greason3" style="width:33.33%;">
              <p class="title title6" style="">
                教学严谨与服务完善
              </p>
              <p class="gcontent" style="">
                乔治亚学院以就业服务完善、教学方法创新、小班课堂以学生为主、校企结合紧密、实习课丰富等特点倍受学生及家长推崇。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon22">招生对象及学制</span>
        </p>
        <p class="u-content" style="">
          <img title="在加拿大读大学与学院的比较" src="__PUBLIC__/Home/PC/images/canada/ptable2.png" />
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon23">直通乔治亚</span>
        </p>
        <div class="u-content gthrough" style="">
          <div class="gstep">
            <p> 初中起点学生第二学年末、高中起点学生第一学年末，录取测评考试成绩合格，乔治亚学院可发放《有条件录取通知书》，为学生预留名额和学号。</p>
            <p> 第三学年学生无重大违纪、专业课成绩70分以上、英语测试达标、且取得大重技校毕业证，将由乔治亚学院发放《正式录取通知书》。</p>
          </div>

          <p class="">
            <img title="在加拿大读大学与学院的比较" src="__PUBLIC__/Home/PC/images/canada/f1.png" />

          </p>
        </div>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon24">乔治亚学院课程计划</span>
        </p>
        <p class="u-content" style="">
          <img title="在加拿大读大学与学院的比较" src="__PUBLIC__/Home/PC/images/canada/f2.png" />
        </p>
      </div>
      <div class="u-section">
        <p class="u-head" style="">
          <span class="hicon hicon25">适合中国学生的热门专业</span>
        </p>
        <p class="u-content" style="">
          <img title="适合中国学生的热门专业" src="__PUBLIC__/Home/PC/images/canada/f3.png" />
        </p>
      </div>

    </div>

  </div>
</div>
<include file="MOB/Public/foot" />
</body>
</html>
