<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="viewport" content="width=640, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" >
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/MOB/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/xin.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/Home/MOB/js/swiper.min.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery-3.2.1.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery.carouFredSel-6.0.4-packed.js"></script>
</head>

<body>
<include file="MOB/Public/head" />
<div class="bodyer1">
  <div class="bianxian"></div>
  <div class="swiper-container banner swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-active" style="background: url(__ROOT__/Uploads/{$column_data.mob_pic}) center center no-repeat; width: 640px;"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="bodyer2">
    <div class="max_content2">
    	<div class="max_content2_title">
      	制订适合自己的学习规划
      </div>
      <div class="max_content2_word_1">
		谋定而后动—适合自己的，才是最好的
      </div>
      <a name="chuzhong"></a>
      <img src="__PUBLIC__/Home/PC/images/max_content2_word＿pic_09.jpg"  />
      <div class="max_content2_title_2">
      	我们为初中毕业生设计了三种学习路径，供学生选择：
      </div>
      <div class="max_content2_word_2">
      	<div class="max_content2_word_2_title">喜欢操作、希望尽快就业的学生：</div>
        <div class="max_content2_word_2_word">选读“中职+大专一体化”课程，理论和实操并重，三年学制，两年在校学习，一年在企业带薪实习，毕业后可获得中职毕业证书、职业资格证书、大专学历证书，实现理想就业。
        </div>
        <div class="max_content2_word_2_btn">
        	<a href="{:U('Index/article',array('column_id'=>8,'id'=>8))}">详情请点击：大专教育</a>
        </div>
      </div>
      <div class="max_content2_word_2">
      	<div class="max_content2_word_2_title">针对想要获得本科学历的学生：</div>
        <div class="max_content2_word_2_word">
          <p>选读专科－本科连读方式，让获得本科学历不再遥不可及，节省时间和费用。</p>
<p>我校实行大专-本科一体化教学体系，先打基础、由浅入深、注重个体化辅导，让学习不再吃力，保证通过率。</p>
<p>本科学历学制四年。学校在第二学年开设本科课程，并在第二学年末安排学生进入企业实习，以免影响学生就业。第三学年、第四学年实行定期授课和辅导，学生可以边工作、边利用业余时间学习，在保证就业的基础上，获得本科学历。</p>

        </div>
        <div class="max_content2_word_2_btn">
        	<a href="{:U('Index/article',array('column_id'=>9,'id'=>9))}">详情请点击：本科学历</a>
        </div>
      </div>
      <div class="max_content2_word_2">
      	<div class="max_content2_word_2_title">喜欢英语、立志出国留学的学生：</div>
        <div class="max_content2_word_2_word">
          <p>选读“加拿大定向留学班”，愿你出国留学、就业、移民的梦想，学制3年。</p>
          <p>乔治亚学院（Georgian College）是加拿大安大略省历史最久的公立学院之一，该学院校企合作广泛、课程实用前沿、就业率优异而享有盛誉。全院共有120多个市场热门专业，11000余名学生，就业率在加拿大安大略省排名第一，是中国学生最理想的留学选择。详情登录：www.georgiancollege.ca</p>
          <p>乔治亚学院与大连重工技校于2018年达成合作，结成紧密型战略伙伴关系。大连重工技校作为乔治亚学院中国东北方区唯一的应用类高中教育合作伙伴，双方共同开办乔治亚学院定向留学班，为普通学子出国留学、进入国际职场、高薪就业、移民加拿大等，提供便捷又经济实惠的通道。</p>
          <p>同时，我校在加拿大设有全资机构－Hurock Education Development Inc.( 加拿大汇玖教育发展公司)，学生落地加拿大后，从下飞机开始，由我校的海外公司为学生提供生活、学习、就业、签证、移民等全程的服务。</p>

        </div>
        <div class="max_content2_word_2_btn">
        	<a href="{:U('Index/article',array('column_id'=>10,'id'=>10))}">详情请点击：加拿大留学</a>
        </div>
      </div>
      <div class="max_content2_word_2">
        <div class="max_content2_word_2_title">喜欢出国高薪就业的学生：</div>
        <div class="max_content2_word_2_word"><p>选读日本留学“日本介护福祉士”，实现国外高薪就业，学制3年，国外学习2年。</p>
   <p>我校作为日本IGL集团指定合作伙伴，将为您的留学、就业、发展报价护航！</p>
   <p>日本已经进入老龄化时代，养老标准高且专业护理人才严重缺乏，因此该行业工资高、待遇好、作息时间规律，每年收入不低于300万日元。</p>
  <p>日本介护福祉学校学生打工是合法的，学生可以在业余时间工作，赚取学费和生活费。日本学校收费也比较人性化，学生可以先交40万日元的费用，以后的费用可以用业余时间打工的收入抵顶学费，也可以用工作后的薪资补交学费，这也是日本学生的普遍缴费方式。</p>

        </div>
        <div class="max_content2_word_2_btn">
          <a href="{:U('Index/article',array('column_id'=>20,'id'=>31))}">详情请点击：日本留学</a>
        </div>
      </div>
      <hr />
      <a name="gaozhong"></a>
      <img src="__PUBLIC__/Home/PC/images/max_content2_word＿pic_13.jpg"  />
      <div class="max_content2_word_2">
      	<div class="max_content2_word_2_title_2">高中毕业生</div>
        <div class="max_content2_word_2_title">喜欢英语、立志出国留学的学生：</div>
        <div class="max_content2_word_2_word"><p>选读 “加拿大定向留学班”，学制1年。</p>
    <p>通过强化英语、雅思考试，同步学习部分加拿大学院的专业基础课程，成绩合格者可顺利实现到加拿大留学、就业最终移民的梦想。<p>
        </div>
        <div class="max_content2_word_2_btn">
        	<a href="{:U('Index/article',array('column_id'=>10,'id'=>10))}">详情请点击：加拿大留学</a>
        </div>
        <div class="max_content2_word_2_title">喜欢出国高薪就业的学生：</div>
        <div class="max_content2_word_2_word"><p>选读日本留学“日本介护福祉士”，实现国外高薪就业，学制1年，国外学习2年。</p>
    <p>我校作为日本IGL集团指定合作伙伴，在我校通过日语以及护理专业的学习，成绩合格者可顺利实现留学日本，高薪就业的目标。<p>
        </div>
        <div class="max_content2_word_2_btn">
          <a href="{:U('Index/article',array('column_id'=>20,'id'=>10))}">详情请点击：日本留学</a>
        </div>
      </div>
      <hr />
      <a name="nansheng"></a>
      <img src="__PUBLIC__/Home/PC/images/max_content2_word＿pic_15.jpg"  />
      <div class="max_content2_word_2">
      	<div class="max_content2_word_2_title_3"><span class="max_content2_word_2_title_3_box">男生定制</span></div>
        <div class="max_content2_word_2_word f-cb">
        	<div class="max_content2_word_2_word_left">
          	<div class="max_content2_word_2_word_title">国内就业</div>
            <div class="max_content2_word_2_word_content">下列专业是我校为男生精心选择的、可在大连地区实现良好就业的专业：</div>
            <ul class="max_content2_word_2_word_list">
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>66))}">涉外护理(日本就业)</a></li>
            	<li><a href="{:U('Index/article',array('column_id'=>11,'id'=>27))}">数控加工技术</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>25))}">加工中心技术</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>26))}">模具制造</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>21))}">汽车维修</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>24))}">电气技术</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>19))}">汽车制造与装配</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>14))}">电子商务</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>22))}">机械装配</a></li>
            </ul>
          </div>

          <div class="max_content2_word_2_word_center">
          	<div class="max_content2_word_2_word_title">国内升学</div>
            <div class="max_content2_word_2_word_content">下列专业是我校在对口升学方面录取比率极高的专业：</div>
            <ul class="max_content2_word_2_word_list">
            	<li><a href="{:U('Index/article',array('column_id'=>11,'id'=>27))}">数控加工技术</a></li>
            </ul>
          </div>
          <div class="max_content2_word_2_word_right">
          	<div class="max_content2_word_2_word_title">国外留学</div>
            <div class="max_content2_word_2_word_content">下列专业是我校精心选择的、属加拿大人才紧缺、能良好就业的专业：</div>
            <ul class="max_content2_word_2_word_list">
            	<li><a href="{:U('Index/article',array('column_id'=>11,'id'=>21))}">汽车维修</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>14))}">电子商务</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>27))}">数控加工技术</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="max_content2_word_2_btn">
        	<a href="{:U('Index/article',array('column_id'=>11,'id'=>27))}">详情请点击：热门专业</a>
        </div>
      </div>
      <a name="nvsheng"></a>
      <img src="__PUBLIC__/Home/PC/images/max_content2_word＿pic_17.jpg"  />
      <div class="max_content2_word_2">
      	<div class="max_content2_word_2_title_3"><span class="max_content2_word_2_title_3_box">女生定制</span></div>
        <div class="max_content2_word_2_word f-cb">
        	<div class="max_content2_word_2_word_left">
          	<div class="max_content2_word_2_word_title">国内就业</div>
            <div class="max_content2_word_2_word_content">下列专业是我校为女生精心选择的、可在大连地区实现良好就业的专业：</div>
            <ul class="max_content2_word_2_word_list">
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>14))}">电子商务</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>27))}">数控加工技术</a></li>
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>26))}">模具制造</a></li>
			  <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>23))}">质检与文秘</a></li>
			  <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>66))}">学前教育双语幼师</a></li>
            </ul>
          </div>
          <div class="max_content2_word_2_word_center">
          	<div class="max_content2_word_2_word_title">国内升学</div>
            <div class="max_content2_word_2_word_content">下列专业是我校在对口升学方面录取比率极高的专业：</div>
            <ul class="max_content2_word_2_word_list">
            	<li><a href="{:U('Index/article',array('column_id'=>11,'id'=>27))}">数控加工技术</a></li>
            	<li><a href="{:U('Index/article',array('column_id'=>11,'id'=>66))}">涉外护理(日本就业)</a></li>
            </ul>
          </div>
          <div class="max_content2_word_2_word_right">
          	<div class="max_content2_word_2_word_title">国外留学</div>
            <div class="max_content2_word_2_word_content">下列专业是我校精心选择的、属加拿大人才紧缺、能良好就业的专业：</div>
            <ul class="max_content2_word_2_word_list">
              <li><a href="{:U('Index/article',array('column_id'=>11,'id'=>14))}">电子商务</a></li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="max_content2_word_2_btn">
        	<a href="{:U('Index/article',array('column_id'=>11,'id'=>27))}">详情请点击：热门专业</a>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="MOB/Public/foot" />
</body>
</html>
