<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="viewport" content="width=640, user-scalable=no">
<link rel="shortcut icon" href="favicon.ico" >
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/MOB/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/MOB/css/xin.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/Home/MOB/js/swiper.min.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery-3.2.1.js"></script>
<script src="__PUBLIC__/Home/MOB/js/jquery.carouFredSel-6.0.4-packed.js"></script>
</head>

<body>
<include file="MOB/Public/head" />
<div class="bodyer1">
  <div class="bianxian"></div>
  <div class="swiper-container banner swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-active" style="background: url(__ROOT__/Uploads/{$column_data.mob_pic}) center center no-repeat; width: 640px;"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="bodyer2">
    <div class="smdk">
      <h2>以就业为导向，规划学生的求学之路</h2>
      <hr style="margin-top: 20px;">
      <p>
    本校一直秉承“先规划、后学习”为先导的理念，避免学生走弯
路。在学生入学之初，就结合学生的兴趣、特长和学习能力，以与学
生和家长深度沟通为基础，以未来就业为导向，并结合本校专业老师
的专业知识和经验，为学生重新规划适合自己的求学道路，让学生找
到适合自己的学习方向，选择适合自己的专业。
    学校设有十几个就业前景良好的专业，在本校专业教师的指导下
帮助学生做出正确的选择。
    我们坚持“适合的才是最好的”学习原则，为不同的学生规划、
设计了多种学习路径，让学生最终找到适合自己的学习道路，为自己
未来的就业和生活打下一个良好的基础：
</p>
      <ul class="sanse">
        <li>
          <h4 style="color: #27aae1">想要<br>
            快速就业<br>
            的学生</h4>
          <p style="background: #27aae1">学校设有“中职—大专一体化”课程，让学生既学到技能、又拥有大专学历，保障快速就业。</p>
        </li>
        <li>
          <h4 style="color: #80b21f">想要<br>
            快速就业<br>
            的学生</h4>
          <p style="background: #80b21f">我们设有对口升学班，通过参加职校生对口专业的考试，利用在我校期间学习的专业成绩优势，考入全日制统招高校，避开普通高考的独木桥，避开自己的弱势科目，发挥自己的技术特长，走适合自己的升学之路，梦圆大学校园。</p>
        </li>
        <li>
          <h4 style="color: #b30d23">想要<br>
            快速就业<br>
            的学生</h4>
          <p style="background: #b30d23">我们设有出国留学班，与加拿大知名的职业技术学院进行教学合作，并充分利用我们在加拿大开设的Hurock Education Development  Inc.公司的服务平台，通过加拿大政府的SPP计划和EE快速移民通道，实现加拿大留学直通，毕业后可以在加拿大就业，并将便捷地实现移民加拿大。 </p>
        </li>
      </ul>
    </div>
    <div class="zhuanye">
      <ul>
        <li><img src="__PUBLIC__/Home/MOB/images/xuexi_05.jpg" style="border-radius: 10px;"></li>
        <li class="zhuanz"><img src="__PUBLIC__/Home/MOB/images/xuexi_07.jpg" style="border-radius: 10px;"></li>
        <li class="zhuanr"><img src="__PUBLIC__/Home/MOB/images/xuexi_09.jpg" style="border-radius: 10px;"></li>
      </ul>
    </div>
    <div class="smdk">
      <h2>改变应试教育模式，坚持兴趣导向</h2>
      <p>    我们一向认为“天生我才必有用”，只要找对适合自己的学习方
法。针对很多学生不适合死记硬背为主的应试教育，我们结合学生的
学习特长和学习兴趣，采用多媒体教学、参与式教学、情景式教学、
实操训练等多种教学方式，让学生多参与、多互动、多动手，让学习
不再枯燥无味、让课堂变得更加生动，通过激发学生的学习兴趣，达
到良好的教学效果。</p>
      <img src="__PUBLIC__/Home/MOB/images/xuexi_15.jpg" style="width: 100%;height: 155px;border-bottom: 1px dashed #ddd">
      <h2>采用双元制教学，发挥学生特长</h2>
      <p>    根据学生的不同学习能力和性格特点，我们开设多个专业可供学
生选择。为保证学生确有一技之长，我们采用理论+实操的双元制教学
模式，一段时间理论学习之后，就立即进入实操训练，让理论很快得
到实际应用，学习不再枯燥、且达到良好的学习效果。</p>
      <img src="__PUBLIC__/Home/MOB/images/xuexi_17.jpg" style="width: 100%;height: 180px;border-bottom: 1px dashed #ddd">
      <h2>“中职—大专一体化”课程，保证学生技能和学历的双优势</h2>
      <p>    为保证学生在激烈的就业竞争中立于不败之地，我们既要保证学
生具备合格的技能，又要保证学生具备一定的学历优势。为此我们利
用数十年的教学经验，将技能为主的中职课程和学历为主的大专课程
有机结合，形成了有利于学生学习的“中职—大专一体化”课程体系，
让学生具备技能和学历两项优势，为学生就业奠定了良好基础。
</p>
      <img src="__PUBLIC__/Home/MOB/images/xuexi_20.jpg" style="width: 100%;height: 140px;border-bottom: 1px dashed #ddd"> </div>
  </div>
</div>
<include file="MOB/Public/foot" />
</body>
</html>
