<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<include file="PC/Public/assets" />

</head>

<body>
	<div class="page-content">
    <div class="show_applicant">
      <form id="job_form" class="job_form" method="post" action="{:U('Applicant/post')}">
       <div class="_items">
        <span class="_t">个人信息</span>
        <div class="xian2"></div>
        <div style="clear:both"></div>
       </div>
       <div class="row">
        <div class="span-6  smal-12">
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>姓　　名：
          </div>
          <div class="_input dib">
           <input value="{$data.fullname}" type="text" class="inp" name="fullname" readonly>
          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>应聘职位：
          </div>
          <div class="_input dib">
           <input  value="{$data.position}"  type="text" class="inp"  name="position" readonly >
          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>身份证号：
          </div>
          <div class="_input dib">
           <input  value="{$data.id_num}"  type="text" class="inp"   name="id_num" readonly>
          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>户口所在地：
          </div>
          <div class="_input dib">
           <input  value="{$data.id_address}"  type="text" class="inp" datatype="*" nullmsg="请输入户口所在地!" maxlength="200"  name="id_address" readonly>
          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>联系方式：
          </div>
          <div class="_input dib">
           <input value="{$data.mobile}" type="text" class="inp" maxlength="13" datatype="m"  name="mobile" readonly>
          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
            专　　业：
          </div>
          <div class="_input dib">
           <input  value="{$data.major}" type="text" class="inp"   name="major" readonly>
          </div>
         </div>
        </div>

        <div class="span-6 smal-121">
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>性　　别：
          </div>
          <div class="_input dib">
						<input  value="{$data['gender'] ? '男':'女'}" type="text" class="inp"   name="gender" readonly>
          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>婚姻状况：
          </div>
          <div class="_input dib">
						<input  value="{$data['married'] ? '已婚':'未婚'}" type="text" class="inp"   name="married" readonly>

          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b>*</b>现住址：
          </div>
          <div class="_input dib">
           <input  value="{$data.address}"  type="text" class="inp"   name="address" readonly>
          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
           <b></b>最高学历：
          </div>
          <div class="_input dib">
						<input  value="{$data.degree}"  type="text" class="inp"   name="major" readonly>

          <span class="Validform_checktip"></span></div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
            毕业院校：
          </div>
          <div class="_input dib">
           <input value="{$data.graduated_from}" type="text" class="inp"  name="graduated_from" readonly>
          </div>
         </div>
         <div class="job_form_row clearfix">
          <div class="_t dib">
            毕业时间：
          </div>
          <div class="_input dib">
           <input value="{$data.graduated_at|substr=0,10}" type="text" class="inp date date-picker" name="graduated_at" readonly>
          </div>
         </div>
        </div>
       </div>
       <div style="clear:both"></div>
       <div class="_items">
        <span class="_t">工作经历</span>
        <div class="xian2"></div>
        <div style="clear:both"></div>
       </div>
       <div class="teamW">
				<for start="1" end="5">
					<if condition="!empty($data['exp'.$i.'_company'])">
						<div class="teamItemW">

		         <div class="row">
		          <div class="span-12">
		             <div class="job_form_row clearfix">
		              <div class="_t" style="font-weight:bold;">	工作经历&nbsp;&nbsp;&nbsp;&nbsp;</div>
		             </div>
		          </div>
		          <div class="span-6  smal-12">
		           <div class="job_form_row clearfix">
		            <div class="_t dib">
		              开始时间：
		            </div>
		            <div class="_input dib">
		             <input value="<php>echo substr($data['exp'.$i.'_start_at'],0,10);</php>"  type="text" class="inp date date-picker"  name="exp1_start_at" readonly>
		            </div>
		           </div>
		           <div class="job_form_row clearfix">
		            <div class="_t dib">
		              工作单位：
		            </div>
		            <div class="_input dib">
		             <input  value="<php>echo $data['exp'.$i.'_company'];</php>"  type="text" class="inp" maxlength="100"   name="exp1_company" readonly>
		            </div>
		           </div>
		          </div>
		          <div class="span-6  smal-121">
		           <div class="job_form_row clearfix">
		            <div class="_t dib">
		              结束时间：
		            </div>
		            <div class="_input dib">
		             <input  value="<php>echo substr($data['exp'.$i.'_end_at'],0,10);</php>" type="text" class="inp date date-picker" name="exp1_end_at">
		            </div>
		           </div>
		           <div class="job_form_row clearfix">
		            <div class="_t dib">
		              职　　务：
		            </div>
		            <div class="_input dib">
		             <input value="<php>echo $data['exp'.$i.'_position'];</php>" type="text" class="inp" maxlength="100"   name="exp1_position" readonly>
		            </div>
		           </div>
		          </div>
		          <div style="clear:both"></div>
		          <div class="span-12">
		           <div class="job_form_row clearfix">
		            <div class="_t dib">	职责描述：	  </div>
		            <div class="_input dib _long">
									<div class="_textarea"> <php>echo $data['exp'.$i.'_responsibility'];</php></div>
		            </div>

		           </div>
		          </div>
		         </div>
		        </div>

					</if>

				</for>
       </div>


       <div class="_items">
        <span class="_t">其他信息</span>
        <div class="xian2"></div>
        <div style="clear:both"></div>
       </div>
       <div class="row">
        <div class="span-12">

         <div class="job_form_row clearfix">
          <div class="_t dib">
            资格证书：
          </div>
          <div class="_input dib _long">
						<div class="_textarea">
							{$data.qualification}
						</div>
          </div>
         </div>
         <div style="clear:both"></div>
         <div class="job_form_row clearfix">
          <div class="_t dib" style="">
            其他：
          </div>
          <div class="_input dib _long">
						<div class="_textarea">
							{$data.self_evaluation}
						</div>
          </div>
         </div>
        </div>
       <div style="clear:both"></div>
        <div class="row1">
         <div class="span-12">
          <div class="_act">
           <button class="sub print" type="button" onclick="window.print();">打印</button>

          </div>
         </div>
        </div>
       </div>
       <input type="hidden" name="method" value="jobResume">
     </form>

    </div>

	</div>
</body>

</html>
