<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<include file="PC/Public/assets" />

</head>

<body>
	<div class="page-content">
    <div class="show_applicant">
			<form id="job_form" class="job_form" method="post" action="{:U('Applicant/post')}" enctype ="multipart/form-data">
				<div class="row">
					  <div class="span-6  smal-12">
					   <div class="job_form_row clearfix">
						 <div class="_t dib"> 应聘职位： </div>
						 <div class="_input dib">
							 <input  value="{$data.position}" type="text" class="inp" id="name" name="position" required>
							 </div>
					 </div>
				   </div>
					 <div class="span-6  smal-121">
					   <div class="job_form_row clearfix">
						 <div class="_t dib"> 个人照片： </div>
						 <div class="_input dib">
							 <div class="box" style="height: 100px;width: 100px;">
								 <img src="__ROOT__/Uploads/{$data.pic}" style="height:100%;">
							 </div>
						 </div>
					 </div>
				   </div>
				 </div>
				 <div class="_items">
					 <span class="_t">个人信息</span>
					 <div class="xian2"></div>
					 <div style="clear:both"></div>
				 </div>
				 <div class="row">
					 <div class="span-6  smal-12">
						 <div class="job_form_row clearfix">
							 <div class="_t dib">
								 姓　　名：
							 </div>
							 <div class="_input dib">
								 <input value="{$data.fullname}" type="text" class="inp"  id="linkMan" name="fullname" required>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 身份证号： </div>
							 <div class="_input dib">
								 <input  value="{$data.id_num}"  type="text" class="inp"  id="idCard" name="id_num" required>
								 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 籍　　贯： </div>
							 <div class="_input dib">
								 <input   value="{$data.native_place}" type="text" class="inp"   id="native_place" name="native_place" required>
								 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 政治面貌： </div>
							 <div class="_input dib">
								 <input   value="{$data.political_status}" readonly type="text" class="inp" maxlength="30" name="political_status">
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 是否海外留学生： </div>
							 <div class="_input dib">
								 <input  value="{$data['oversea'] ? '是':'否'}" type="text" class="inp"   name="oversea" readonly>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">  毕业院校： </div>
							 <div class="_input dib">
								 <input   value="{$data.graduated_from}" readonly type="text" class="inp" maxlength="200" id="graduated_from" name="graduated_from" required>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">  专　　业： </div>
							 <div class="_input dib">
								 <input   value="{$data.major}" readonly type="text" class="inp" maxlength="30" id="major" name="major" required>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 学　　位：</div>
							 <div class="_input dib">
								 <input   value="{$data.degree}" readonly type="text" class="inp" maxlength="30" id="degree" name="degree"  >
							 </div>
						 </div>

						 <div class="job_form_row clearfix">
							 <div class="_t dib">  毕业时间： </div>
							 <div class="_input dib">
								 <input value="{$data.graduated_at}" readonly type="text" class="inp date date-picker" id="graduated_at" name="graduated_at" required>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 毕业生性质： </div>
							 <div class="_input dib">
								 <input  value="{$data.graduated_state}" readonly type="text" class="inp" maxlength="30" id="graduated_state" name="graduated_state">
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 研究方向： </div>
							 <div class="_input dib">
								 <input   value="{$data.research_area}" readonly type="text" class="inp" maxlength="30" id="research_area" name="research_area">
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 外语语种及等级： </div>
							 <div class="_input dib">
								 <input   value="{$data.foreign_language}" readonly type="text" class="inp" maxlength="30" id="foreign_language" name="foreign_language">
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 特长爱好： </div>
							 <div class="_input dib">
								 <input   value="{$data.hobby}" readonly type="text" class="inp" maxlength="30" id="hobby" name="hobby">
							 </div>
						 </div>
					 </div>

					 <div class="span-6 smal-121">
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 出生日期：</div>
							 <div class="_input dib">
								 <input   value="{$data.birth}" readonly type="text" class="inp date date-picker" name="birth" required>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 性　　别： </div>
							 <div class="_input dib">
								 <input  value="{$data['gender'] ? '男':'女'}" type="text" class="inp"   name="gender" readonly>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 民　　族：</div>
							 <div class="_input dib">
								 <input   value="{$data.nation}" readonly type="text" class="inp"   maxlength="16" id="nation" name="nation">
							 </div>
						 </div>

						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 血　　型：</div>
							 <div class="_input dib">
								 <input   value="{$data.blood_type}" readonly type="text" class="inp  " name="blood_type" required>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 身　　高：</div>
							 <div class="_input dib">
								 <input   value="{$data.height}" readonly type="text" class="inp"   id="height" name="height">
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 健康状况： </div>
							 <div class="_input dib">
								 <input   value="{$data.health_status}" readonly type="text" class="inp" maxlength="30" name="health_status">
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">婚姻状况：</div>
							 <div class="_input dib">
								 <input  value="{$data['married'] ? '已婚':'未婚'}" type="text" class="inp"   name="gender" readonly>
							</div>
						 </div>

						 <div class="job_form_row clearfix">
							 <div class="_t dib">  是否有亲属中莱任职： </div>
							 <div class="_input dib">
								 <input  value="{$data['zhonglai_relative'] ? '有':'无'}" type="text" class="inp"   name="zhonglai_relative" readonly>
							 </div>
						 </div>

						 <div class="job_form_row clearfix">
							 <div class="_t dib">  中莱亲属姓名及电话： </div>
							 <div class="_input dib">
								 <input   value="{$data.zhonglai_relative_info}" readonly type="text" class="inp" maxlength="30" id="zhonglai_relative_info" name="zhonglai_relative_info">
							 </div>
						 </div>

						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 手机： </div>
							 <div class="_input dib">
								 <input   value="{$data.mobile}" readonly type="text" class="inp"  name="mobile" required>
							 </div>
						 </div>

						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 紧急联系人及电话： </div>
							 <div class="_input dib">
								 <input   value="{$data.second_contact}" readonly type="text" class="inp"   name="second_contact" required>
								</div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib"> 电子邮箱： </div>
							 <div class="_input dib">
								 <input   value="{$data.email}" readonly type="text" class="inp" maxlength="13" datatype="m" msg="" name="email">
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">身份证住址：</div>
							 <div class="_input dib">
								 <input   value="{$data.id_address}" readonly type="text" class="inp"   name="id_address" required>
								 </div>
						 </div>
					 </div>
				 </div>
				 <div style="clear:both"></div>

				 <div class="teamW clearfix">
					 <div class="_items">
						 <span class="_t">教育背景</span>
						 <div class="xian2"></div>
						 <div style="clear:both"></div>
					 </div>
					 <div class="teamItems">
						 <for start="1" end="3">
							 <if condition="!empty($data['ed'.$i.'_school'])">
	    					 <div class="teamItemW">
									 <div class="row">
										 <div class="span-12">
											 <div class="job_form_row clearfix">
												 <div class="_t" style="font-weight:bold;"> 教育背景&nbsp;&nbsp;&nbsp;&nbsp;</div>
											 </div>
										 </div>
										 <div class="span-6  smal-12">
											 <div class="job_form_row clearfix">
												 <div class="_t dib">	开始时间：	</div>
												 <div class="_input dib">
													 <input  value="<php>echo $data['ed'.$i.'_start_at'];</php>" type="text" class="inp date date-picker" name="ed1_start_at" required>
												 </div>
											 </div>
											 <div class="job_form_row clearfix">
												 <div class="_t dib">	学　　校：</div>
												 <div class="_input dib">
													 <input  value="<php>echo $data['ed'.$i.'_school'];</php>" type="text" class="inp" maxlength="32" name="ed1_school" required>
												 </div>
											 </div>
											 <div class="job_form_row clearfix">
												 <div class="_t dib">	专　　业：</div>
												 <div class="_input dib">
													 <input  value="<php>echo $data['ed'.$i.'_major'];</php>" type="text" class="inp" maxlength="32" name="ed1_major" required>
												 </div>
											 </div>

											 <div class="job_form_row clearfix">
												 <div class="_t dib">	学　　位：</div>
												 <div class="_input dib">
													 <input  value="<php>echo $data['ed'.$i.'_degree'];</php>" type="text" class="inp" maxlength="32" name="ed1_degree" required>
												 </div>
											 </div>
										 </div>
										 <div class="span-6  smal-121">
											 <div class="job_form_row clearfix">
												 <div class="_t dib">	结束时间：	</div>
												 <div class="_input dib">
													 <input value="<php>echo $data['ed'.$i.'_end_at'];</php>" type="text" class="inp date date-picker" name="ed1_end_at" required>
												 </div>
											 </div>
											 <div class="job_form_row clearfix">
												 <div class="_t dib">	院　　系：</div>
												 <div class="_input dib">
													 <input  value="<php>echo $data['ed'.$i.'_department'];</php>" type="text" class="inp" maxlength="32" name="ed1_department" required>
												 </div>
											 </div>
											 <div class="job_form_row clearfix">
												 <div class="_t dib">	学　　历：</div>
												 <div class="_input dib">
													 <input  value="<php>echo $data['ed'.$i.'_academic'];</php>" type="text" class="inp" maxlength="32" name="ed1_academic" required>
												 </div>
											 </div>
											 <div class="job_form_row clearfix">
												 <div class="_t dib">	排　　名：</div>
												 <div class="_input dib">
													 <input  value="<php>echo $data['ed'.$i.'_position'];</php>" type="text" class="inp" maxlength="32" name="ed1_positoin" required>
												 </div>
											 </div>
										 </div>

									 </div>
								 </div>
    					 </if>
						 </for>
					 </div>

				 </div>
				 <div class="teamW clearfix">
					 <div class="_items">
						 <span class="_t">工作经历</span>
						 <div class="xian2"></div>
						 <div style="clear:both"></div>
					 </div>
					 <div class="teamItems">
						 <for start="1" end="5">
							 <if condition="!empty($data['exp'.$i.'_company'])">
								 <div class="teamItemW">
									<div class="row">
									 <div class="span-12">
											<div class="job_form_row clearfix">
											 <div class="_t" style="font-weight:bold;">	工作经历&nbsp;&nbsp;&nbsp;&nbsp;</div>
											</div>
									 </div>
									 <div class="span-6  smal-12">
										<div class="job_form_row clearfix">
										 <div class="_t dib">
											 开始时间：
										 </div>
										 <div class="_input dib">
											<input value="<php>echo substr($data['exp'.$i.'_start_at'],0,10);</php>"  type="text" class="inp date date-picker"  name="exp1_start_at" readonly>
										 </div>
										</div>
										<div class="job_form_row clearfix">
										 <div class="_t dib">
											 工作单位：
										 </div>
										 <div class="_input dib">
											<input  value="<php>echo $data['exp'.$i.'_company'];</php>"  type="text" class="inp" maxlength="100"   name="exp1_company" readonly>
										 </div>
										</div>
									 </div>
									 <div class="span-6  smal-121">
										<div class="job_form_row clearfix">
										 <div class="_t dib">
											 结束时间：
										 </div>
										 <div class="_input dib">
											<input  value="<php>echo substr($data['exp'.$i.'_end_at'],0,10);</php>" type="text" class="inp date date-picker" name="exp1_end_at">
										 </div>
										</div>
										<div class="job_form_row clearfix">
										 <div class="_t dib">
											 职　　务：
										 </div>
										 <div class="_input dib">
											<input value="<php>echo $data['exp'.$i.'_position'];</php>" type="text" class="inp" maxlength="100"   name="exp1_position" readonly>
										 </div>
										</div>
									 </div>
									 <div style="clear:both"></div>
									 <div class="span-12">
										<div class="job_form_row clearfix">
										 <div class="_t dib">	职责描述：	  </div>
										 <div class="_input dib _long">
											 <div class="_textarea"> <php>echo $data['exp'.$i.'_responsibility'];</php></div>
										 </div>

										</div>
									 </div>
									</div>
								 </div>
							 </if>
						 </for>
					 </div>

				 </div>
				 <div class="teamW clearfix">
					 <div class="_items">
						 <span class="_t">家庭关系</span>
						 <div class="xian2"></div>
						 <div style="clear:both"></div>
					 </div>
					 <div class="teamItems">
						 <for start="1" end="3">
							 <if condition="!empty($data['fam'.$i.'_name'])">
	    					 <div class="teamItemW">
							 <div class="row">
								 <div class="span-12">
									 <div class="job_form_row clearfix">
										 <div class="_t" style="font-weight:bold;"> 家庭关系&nbsp;&nbsp;&nbsp;&nbsp;</div>
									 </div>
								 </div>
								 <div class="span-6  smal-12">
									 <div class="job_form_row clearfix">
										 <div class="_t dib">	 	关　　系：			</div>
										 <div class="_input dib">
											 <input  value="<php>echo $data['fam'.$i.'_relative'];</php>" readonly type="text" class="inp  " name="fam1_relative" required>
										 </div>
									 </div>
									 <div class="job_form_row clearfix">
										 <div class="_t dib"> 工作单位：	</div>
										 <div class="_input dib">
											 <input  value="<php>echo $data['fam'.$i.'_company'];</php>" readonly type="text" class="inp" maxlength="100" name="fam1_company" required>
										 </div>
									 </div>
								 </div>
								 <div class="span-6  smal-121">
									 <div class="job_form_row clearfix">
										 <div class="_t dib"> 	姓　　名：			</div>
										 <div class="_input dib">
											 <input  value="<php>echo $data['fam'.$i.'_name'];</php>" readonly type="text" class="inp " name="fam1_name" required>
										 </div>
									 </div>
									 <div class="job_form_row clearfix">
										 <div class="_t dib"> 	职　　务：	</div>
										 <div class="_input dib">
											 <input  value="<php>echo $data['fam'.$i.'_position'];</php>" readonly type="text" class="inp" maxlength="100" name="fam1_position" required>
										 </div>
									 </div>
								 </div>
							 </div>
						 </div>
    					 </if>
  					 </for>

					 </div>


				 </div>

				 <div class="_items">
					 <span class="_t">其他信息</span>
					 <div class="xian2"></div>
					 <div style="clear:both"></div>
				 </div>
				 <div class="row">
					 <div class="span-12">
						 <div class="job_form_row clearfix">
							 <div class="_t dib">	主要学习课程：		</div>
							 <div class="_input dib _long">
								 <div class="_textarea"> {$data.main_courses} </div>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">	社团活动或社会实践：		</div>
							 <div class="_input dib _long">
								 <div class="_textarea"> {$data.activity_and_practice} </div>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">	所获的主要奖励和荣誉：		</div>
							 <div class="_input dib _long">
								 <div class="_textarea"> {$data.prize_and_honor} </div>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">	学习期间主要科研成果：		</div>
							 <div class="_input dib _long">
								 <div class="_textarea"> {$data.achievements} </div>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib">		所获的资格证书及编号：	</div>
							 <div class="_input dib _long">
								 <div class="_textarea"> {$data.qualification} </div>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib" style="">	说明您选择中莱的理由：	</div>
							 <div class="_input dib _long">
								 <div class="_textarea"> {$data.reason} </div>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib" style=""> 	 您的职业生涯规划：	</div>
							 <div class="_input dib _long">
								 <div class="_textarea"> {$data.self_evaluation} </div>
							 </div>
						 </div>
						 <div class="job_form_row clearfix">
							 <div class="_t dib" style="">	备注：	</div>
							 <div class="_input dib _long">
								 <div class="_input   _long">
									 1、是否考虑接受集团外派到龙口市外工作：
										<input type="radio" name="work_other_city" value="1" {$data['work_other_city'] ? 'checked':''} >是
										&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="work_other_city" value="0" {$data['work_other_city'] ? '':'checked'} >否
								 </div>
								 <div class="_input   _long">
								 2、是否拥有龙口市常住居民户口（非学校集体户）：
									<input type="radio" name="native_residence" value="1" {$data['native_residence'] ? 'checked':''}>是
									&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="native_residence" value="0" {$data['native_residence'] ? '':'checked'}>否
							 </div>
							 </div>
						 </div>
					 </div>
					 <div style="clear:both"></div>
					 <div class="row1">
						 <div class="span-12">
							 <div class="_act">
								 <button class="sub print" type="button" onclick="window.print();">打印</button>

							 </div>
						 </div>
					 </div>
				 </div>
				 <input type="hidden" name="method" value="jobResume">
			 </form>

    </div>

	</div>
</body>

</html>
