
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/MOB/css/bootstrap.css">
	<link href="__PUBLIC__/Home/MOB/css/swiper.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/MOB/css/style.css">

	<script src="__PUBLIC__/Home/MOB/js/jquery-3.2.1.js"></script>
	<script src="__PUBLIC__/Home/MOB/js/TouchSlide.1.1.js"></script>
	<script src="__PUBLIC__/Home/MOB/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Home/MOB/js/swiper.jquery.js"></script>
