
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" type="text/css" href="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/mob/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/mob/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/mob/css/style.css">

	<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/mob/js/jquery-3.2.1.js"></script>
	<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/mob/js/TouchSlide.1.1.js"></script>
	<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/mob/js/bootstrap.min.js"></script>
	<script src="http://passets.oss-cn-qingdao.aliyuncs.com/sdzljt/mob/js/swiper.jquery.js"></script>
