	<div class="footer">
    <div class="footer_up">
      <img src="__PUBLIC__/Home/PC/images/erweima_19.jpg" width="126" height="132" />
      <div class="footer_up_center">
        <div class="tel">
          <img src="__PUBLIC__/Home/PC/images/dianhua_21.jpg" width="200"  height="83" />
        </div>
        <ul>
          <li><a href="{:U('Index/column',array('column_id'=>6))}">净化工程案例</a></li>
          <li><a href="{:U('Index/column',array('column_id'=>2))}">新闻中心</a></li>
          <li><a href="{:U('Index/column',array('column_id'=>7))}">社会责任</a></li>
          <li><a href="{:U('Index/article',array('column_id'=>4,'id'=>1))}">关于我们</a></li>
          <li><a href="{:U('Index/article',array('column_id'=>5,'id'=>2))}">联系我们</a></li>
        </ul>
      </div>
      <div class="footer_up_right">
        <img src="__PUBLIC__/Home/PC/images/foot_logo_23.jpg" width="217"  height="57" />
        <ul>
          <li class="first"><a href="#"><img src="__PUBLIC__/Home/PC/images/fenxiang_28.jpg" width="31" height="25" /></a></li>
          <li><a href="#"><img src="__PUBLIC__/Home/PC/images/fenxiang_30.jpg" width="31" height="25" /></a></li>
          <li><a href="#"><img src="__PUBLIC__/Home/PC/images/fenxiang_32.jpg" width="31" height="25" /></a></li>
          <li><a href="#"><img src="__PUBLIC__/Home/PC/images/fenxiang_34.jpg" width="31" height="25" /></a></li>
        </ul>
      </div>
    </div>
    <div class="footer_down">
      {$config_data.copyright}
    </div>
  </div>