<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<include file="PC/Public/assets" />
	<include file="PC/Public/form_assets" />

</head>

<body>
	<include file="PC/Public/head" />
	<div class="bodyer">
		<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center; background-size: cover; height: 360px;"></div>
		<div class="other_content neijj">
			<div class="neijj-zhong">
				<div class="neijj-left">
					<h4>{$column_parent_name}</h4>
					<ul>
						<volist name="column_list" id="vo">

							<li class="<eq name='vo.id' value="$Think.get.column_id ">over</eq>">
								<if condition="$vo.id eq 31">
									<a href="{:U('Index/article',array('column_id'=>$vo['id'], 'id'=>134))}">
										{$vo.name}</a>
									<elseif condition="$vo.id eq 32" />
									<a href="{:U('Index/article',array('column_id'=>$vo['id'], 'id'=>135))}">
										{$vo.name}</a>
									<else />
									<a href="{:U('Index/column',array('column_id'=>$vo['id']))}">
										{$vo.name}</a>
								</if>
							</li>
						</volist>

					</ul>
				</div>
				<div class="neijj-right">
					<img src="__PUBLIC__/Home/PC/images/zhonglai/jj_01.jpg" class="shou-gy">
					<h4><a href="javascript:0" class="list_job_btn">在线招聘 </a> | <a href="javascript:0" class="apply_job_btn">申请职位</a></h4>
					<span class="entitle">ENTERPRISE INTRODUCTION</span>
					<div class="shou-mian">
						<img src="__PUBLIC__/Home/PC/images/zhonglai/jj_02.jpg" class="shou-jj">
						<span>首页&gt;关于我们&gt;公司简介</span>
					</div>

					<div style="clear:both"></div>
					<hr>
					<div class="neirong ">
						<div class="jobs">
							<div class="widget-job-2">
								<volist name="list" id="vo" key="k">

									<div id="jt{$vo.id}" class="_jt ">
										<strong> {$vo.title}</strong>
										<span><!--2018/07/13--></span>
									</div>
									<div class="_jc">
										<div class="_jcon">
											<p>
											</p>
											<p style="white-space: normal;"><span style="font-family: 宋体, SimSun; font-size: 18px;">需求人数：{$vo.job_renshu}；</span></p>
											<p style="white-space: normal;"><span style="font-family: 宋体, SimSun; font-size: 18px;">专业：{$vo.job_zhuanye}</span></p>
											<p style="white-space: normal;"><span style="font-family: 宋体, SimSun; font-size: 18px;">具体要求：{$vo.content}</span></p>
											<p>
												<a href="javascript:0" class="_btn apply_job_btn">应聘职位</a>
												<a data-id="jt{$vo.id}" href="javascript:void(0)" class="_btn collect" onclick="_addFavoriteJob( {$vo.id})">收藏职位</a>
											</p>
										</div>
									</div>
								</volist>

							</div>
							<div class="page">{$page}</div>
						</div>
						<div class="apply_job " style="display:none;">
							<form id="job_form" class="job_form" method="post" action="{:U('Applicant/post')}" enctype ="multipart/form-data">
								<div class="row">
									<div class="span-6  smal-12">
		  							<div class="job_form_row clearfix">
										<div class="_t dib"> <b>*</b>应聘职位： </div>
										<div class="_input dib">
											<input type="text" class="inp" msg="请输入您要应聘的职位!" datatype="*" nullmsg="请输入应聘职位" maxlength="30" id="name" name="position" required >
											</div>
									</div>
								  </div>
									<div class="span-6  smal-121">
	  								<div class="job_form_row clearfix">
										<div class="_t dib"> <b>*</b>个人照片： </div>
										<div class="_input dib">
											<input type="file" class="inp" id="pic" name="pic" required>
											<div class="image-preview-box box">

											</div>

										</div>
									</div>
  								</div>
								</div>
								<div class="_items">
									<span class="_t">个人信息</span>
									<div class="xian2"></div>
									<div style="clear:both"></div>
								</div>
								<div class="row">
									<div class="span-6  smal-12">
										<div class="job_form_row clearfix">
											<div class="_t dib">
												<b>*</b>姓　　名：
											</div>
											<div class="_input dib">
												<input type="text" class="inp" msg="请输入您的姓名!" datatype="*" nullmsg="请输入姓名" maxlength="30" id="linkMan" name="fullname" required>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b>身份证号： </div>
											<div class="_input dib">
												<input type="text" class="inp" datatype="*" nullmsg="请输入身份证号!" minlength="18" maxlength="18" id="idCard" name="id_num" required>
												</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b>籍　　贯： </div>
											<div class="_input dib">
												<input type="text" class="inp" datatype="*" nullmsg="请填写现居住地址!" maxlength="24" id="native_place" name="native_place" required>
												</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 政治面貌： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" name="political_status">
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 是否海外留学生： </div>
											<div class="_input dib">
												<select class="_select"  name="oversea"> <option value="0">否</option> <option value="1">是</option> </select>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b> 毕业院校： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="200" id="graduated_from" name="graduated_from" required>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b> 专　　业： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" id="major" name="major" required>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 学　　位：</div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" id="degree" name="degree"  >
 											</div>
										</div>

										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b> 毕业时间： </div>
											<div class="_input dib">
												<input type="text" class="inp date date-picker" id="graduate_date" name="graduated_at" required>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 毕业生性质： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" id="graduated_state" name="graduated_state">
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 研究方向： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" id="research_area" name="research_area">
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 外语语种及等级： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" id="foreign_language" name="foreign_language">
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 特长爱好： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" id="hobby" name="hobby">
											</div>
										</div>
									</div>

									<div class="span-6 smal-121">
										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b>出生日期：</div>
											<div class="_input dib">
												<input type="text" class="inp date date-picker" name="birth" required>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b>性　　别： </div>
											<div class="_input dib">
												<select class="_select" datatype="*" nullmsg="请选择性别!" id="sexType" name="gender"> <option value="0">女</option> <option value="1">男</option> </select>
												</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 民　　族：</div>
											<div class="_input dib">
												<input type="text" class="inp" datatype="*" nullmsg="" maxlength="16" id="nation" name="nation">
											</div>
										</div>

										<div class="job_form_row clearfix">
											<div class="_t dib"> 血　　型：</div>
											<div class="_input dib">
												<select class="_select"  id="blood_type" name="blood_type">
													<option value="A">A型</option> <option value="B">B型</option>
													<option value="AB">AB型</option> <option value="O">O型</option>
												</select>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 身　　高：</div>
											<div class="_input dib">
												<input type="text" class="inp" datatype="*" nullmsg="" maxlength="16" id="height" name="height">
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"><b>*</b> 健康状况： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" name="health_status">
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"><b>*</b>婚姻状况：</div>
											<div class="_input dib">
												<select class="_select" datatype="*" nullmsg="请选择婚姻状况!" id="married" name="married"> <option value="0">未婚</option> <option value="1">已婚</option> </select>
												</div>
										</div>

										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b> 是否有亲属中莱任职： </div>
											<div class="_input dib">
												<select class="_select"  id="zhonglai_relative_info" name="zhonglai_relative"> <option value="0">无</option> <option value="1">有</option> </select>
											</div>
										</div>

										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b> 中莱亲属姓名及电话： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="30" id="zhonglai_relative_info" name="zhonglai_relative_info">
											</div>
										</div>

										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b>手机： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="13" datatype="m" msg="请输入手机号码" name="mobile" required>
											</div>
										</div>

										<div class="job_form_row clearfix">
											<div class="_t dib"> <b>*</b>紧急联系人及电话： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="42" datatype="m" msg="请输入手机号码" name="second_contact" required>
												</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"> 电子邮箱： </div>
											<div class="_input dib">
												<input type="text" class="inp" maxlength="42" datatype="m" msg="" name="email">
												</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib"><b>*</b>身份证住址：</div>
											<div class="_input dib">
												<input type="text" class="inp" datatype="*" nullmsg="请输入户口所在地!" maxlength="200" name="id_address" required>
												</div>
										</div>
									</div>
								</div>
								<div style="clear:both"></div>

								<div class="teamW clearfix">
									<div class="_items">
										<span class="_t">教育背景</span>
										<div class="xian2"></div>
										<div style="clear:both"></div>
									</div>
									<div class="teamItems">
										<div class="teamItemW">
											<div class="row">
												<div class="span-12">
													<div class="job_form_row clearfix">
														<div class="_t" style="font-weight:bold;"> 教育背景&nbsp;&nbsp;&nbsp;&nbsp;</div>
													</div>
												</div>
												<div class="span-6  smal-12">
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	开始时间：	</div>
														<div class="_input dib">
															<input type="text" class="inp date date-picker" name="ed1_start_at" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	学　　校：</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="32" name="ed1_school" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	专　　业：</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="32" name="ed1_major" required>
														</div>
													</div>

													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	学　　位：</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="32" name="ed1_degree" required>
														</div>
													</div>
												</div>
												<div class="span-6  smal-121">
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	结束时间：	</div>
														<div class="_input dib">
															<input type="text" class="inp date date-picker" name="ed1_end_at" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	院　　系：</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="32" name="ed1_department" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	学　　历：</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="32" name="ed1_academic" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	排　　名：</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="32" name="ed1_position" required>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="job_form_row  clearfix ">
										<input type="hidden" name="maxrows" value="3">
										<a class="add_btn add_work" href="javascript:0;" style="margin-left:10em;"><i></i>增加</a>
										<a class="dele_btn del_work" href="javascript:0;"><i></i>删除</a>
									</div>
									<script class="template" type="text/x-handlebars-template">
									  <div class="teamItemW">
										<div class="row">
											<div class="span-12">
												<div class="job_form_row clearfix">
													<div class="_t" style="font-weight:bold;"> 教育背景&nbsp;&nbsp;&nbsp;&nbsp;</div>
												</div>
											</div>
											<div class="span-6  smal-12">
												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	开始时间：	</div>
													<div class="_input dib">
														<input type="text" class="inp date date-picker" name="ed{{i}}_start_at" required>
													</div>
												</div>
												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	学　　校：</div>
													<div class="_input dib">
														<input type="text" class="inp" maxlength="32" name="ed{{i}}_school" required>
													</div>
												</div>
												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	专　　业：</div>
													<div class="_input dib">
														<input type="text" class="inp" maxlength="32" name="ed{{i}}_major" required>
													</div>
												</div>

												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	学　　位：</div>
													<div class="_input dib">
														<input type="text" class="inp" maxlength="32" name="ed{{i}}_degree" required>
													</div>
												</div>
											</div>
											<div class="span-6  smal-121">
												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	结束时间：	</div>
													<div class="_input dib">
														<input type="text" class="inp date date-picker" name="ed{{i}}_end_at" required>
													</div>
												</div>
												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	院　　系：</div>
													<div class="_input dib">
														<input type="text" class="inp" maxlength="32" name="ed{{i}}_department" required>
													</div>
												</div>
												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	学　　历：</div>
													<div class="_input dib">
														<input type="text" class="inp" maxlength="32" name="ed{{i}}_academic" required>
													</div>
												</div>
												<div class="job_form_row clearfix">
													<div class="_t dib"><b>*</b>	排　　名：</div>
													<div class="_input dib">
														<input type="text" class="inp" maxlength="32" name="ed{{i}}_position" required>
													</div>
												</div>
											</div>

										</div>
									</div>
									</script>
								</div>
								<div class="teamW clearfix">
									<div class="_items">
										<span class="_t">工作经历</span>
										<div class="xian2"></div>
										<div style="clear:both"></div>
									</div>
									<div class="teamItems">
										<div class="teamItemW">

											<div class="row">
												<div class="span-12">
													<div class="job_form_row clearfix">
														<div class="_t" style="font-weight:bold;"> 工作经历&nbsp;&nbsp;&nbsp;&nbsp;</div>
													</div>
												</div>
												<div class="span-6  smal-12">
													<div class="job_form_row clearfix">
														<div class="_t dib">	<b>*</b>	开始时间：			</div>
														<div class="_input dib">
															<input type="text" class="inp date date-picker" name="exp1_start_at" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b> 工作单位：	</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="100" name="exp1_company" required>
														</div>
													</div>
												</div>
												<div class="span-6  smal-121">
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	结束时间：			</div>
														<div class="_input dib">
															<input type="text" class="inp date date-picker" name="exp1_end_at" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib">	<b>*</b> 职　　务：	</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="100" name="exp1_position" required>
														</div>
													</div>
												</div>
												<div style="clear:both"></div>
												<div class="span-12">
													<div class="job_form_row clearfix" style="margin-bottom: 0;">
														<div class="_t dib"> <b>*</b> 职责描述： </div>
														<div class="_input dib _long">
															<textarea class="_textarea" data-max="200" name="exp1_responsibility" required></textarea>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"> 全/兼职： </div>
														<div class="_input dib _long">
															 <input type="radio" name="exp1_fulltime" value="1" checked>全职
															 &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="exp1_fulltime" value="0">兼职
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="job_form_row  clearfix ">
										<input type="hidden" name="maxrows" value="4">
										<a class="add_btn add_work" href="javascript:0;" style="margin-left:10em;"><i></i>增加</a>
										<a class="dele_btn del_work" href="javascript:0;"><i></i>删除</a>
									</div>
									<script class="template" type="text/x-handlebars-template">
										<div class="teamItemW">
											<div class="row">
												<div class="span-12">
													<div class="job_form_row clearfix">
														<div class="_t" style="font-weight:bold;"> 工作经历&nbsp;&nbsp;&nbsp;&nbsp;</div>
													</div>
												</div>

												<div class="span-6  smal-12">
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>开始时间：			</div>
														<div class="_input dib">
															<input type="text" class="inp date date-picker" name="exp{{i}}_start_at" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>			工作单位：</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="100" name="exp{{i}}_company" required>
														</div>
													</div>
												</div>
												<div class="span-6  smal-121">
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	结束时间：		</div>
														<div class="_input dib">
															<input type="text" class="inp date date-picker" name="exp{{i}}_end_at" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"><b>*</b>	职　　务：	</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="100" name="exp{{i}}_position" required>
														</div>
													</div>
												</div>
												<div style="clear:both"></div>
												<div class="span-12">
													<div class="job_form_row clearfix" style="margin-bottom:0;">
														<div class="_t dib"><b>*</b>	职责描述：	</div>
														<div class="_input dib _long">
															<textarea class="_textarea" data-max="200" name="exp{{i}}_responsibility" required></textarea>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"> 全/兼职： </div>
														<div class="_input dib _long">
															 <input type="radio" name="exp{{i}}_fulltime" value="1" checked>全职
															 &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="exp{{i}}_fulltime" value="0">兼职
														</div>
													</div>
												</div>
											</div>
										</div>

									</script>

								</div>
								<div class="teamW clearfix">
									<div class="_items">
										<span class="_t">家庭关系</span>
										<div class="xian2"></div>
										<div style="clear:both"></div>
									</div>
									<div class="teamItems">
										<div class="teamItemW">
											<div class="row">
												<div class="span-12">
													<div class="job_form_row clearfix">
														<div class="_t" style="font-weight:bold;"> 家庭关系&nbsp;&nbsp;&nbsp;&nbsp;</div>
													</div>
												</div>
												<div class="span-6  smal-12">
													<div class="job_form_row clearfix">
														<div class="_t dib">	 <b>*</b>	关　　系：			</div>
														<div class="_input dib">
															<input type="text" class="inp  " name="fam1_relative" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"> <b>*</b>工作单位：	</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="100" name="fam1_company" required>
														</div>
													</div>
												</div>
												<div class="span-6  smal-121">
													<div class="job_form_row clearfix">
														<div class="_t dib"> <b>*</b>	姓　　名：			</div>
														<div class="_input dib">
															<input type="text" class="inp " name="fam1_name" required>
														</div>
													</div>
													<div class="job_form_row clearfix">
														<div class="_t dib"> <b>*</b>	职　　务：	</div>
														<div class="_input dib">
															<input type="text" class="inp" maxlength="100" name="fam1_position" required>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="job_form_row  clearfix ">
										<input type="hidden" name="maxrows" value="3">
										<a class="add_btn add_work" href="javascript:0;" style="margin-left:10em;"><i></i>增加</a>
										<a class="dele_btn del_work" href="javascript:0;"><i></i>删除</a>
									</div>
									<script class="template" type="text/x-handlebars-template">
										<div class="teamItemW">
											 <div class="row">
												 <div class="span-12">
													 <div class="job_form_row clearfix">
														 <div class="_t" style="font-weight:bold;"> 家庭关系&nbsp;&nbsp;&nbsp;&nbsp;</div>
													 </div>
												 </div>
												 <div class="span-6  smal-12">
													 <div class="job_form_row clearfix">
														 <div class="_t dib">		关　　系：			</div>
														 <div class="_input dib">
															 <input type="text" class="inp " name="fam{{i}}_relative" required>
														 </div>
													 </div>
													 <div class="job_form_row clearfix">
														 <div class="_t dib">工作单位：	</div>
														 <div class="_input dib">
															 <input type="text" class="inp" maxlength="100" name="fam{{i}}_company" required>
														 </div>
													 </div>
												 </div>
												 <div class="span-6  smal-121">
													 <div class="job_form_row clearfix">
														 <div class="_t dib">	姓　　名：			</div>
														 <div class="_input dib">
															 <input type="text" class="inp " name="fam{{i}}_name" required>
														 </div>
													 </div>
													 <div class="job_form_row clearfix">
														 <div class="_t dib">	职　　务：	</div>
														 <div class="_input dib">
															 <input type="text" class="inp" maxlength="100" name="fam{{i}}_position" required>
														 </div>
													 </div>
												 </div>
											 </div>
										 </div>
									</script>

								</div>

								<div class="_items">
									<span class="_t">其他信息</span>
									<div class="xian2"></div>
									<div style="clear:both"></div>
								</div>
								<div class="row">
									<div class="span-12">
										<div class="job_form_row clearfix">
											<div class="_t dib">	主要学习课程：		</div>
											<div class="_input dib _long">
												<textarea class="_textarea" data-max="512" id="main_courses" name="main_courses"></textarea>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib">	社团活动或社会实践：		</div>
											<div class="_input dib _long">
												<textarea class="_textarea" data-max="512" id="activity_and_practice" name="activity_and_practice"></textarea>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib">	所获的主要奖励和荣誉：		</div>
											<div class="_input dib _long">
												<textarea class="_textarea" data-max="512" id="prize_and_honor" name="prize_and_honor"></textarea>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib">	学习期间主要科研成果：		</div>
											<div class="_input dib _long">
												<textarea class="_textarea" data-max="512" id="achievements" name="achievements"></textarea>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib">		所获的资格证书及编号：	</div>
											<div class="_input dib _long">
												<textarea class="_textarea" data-max="512" id="qualification" name="qualification"></textarea>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib" style="">	说明您选择中莱的理由：	</div>
											<div class="_input dib _long">
												<textarea class="_textarea" data-max="512" id="reason" name="reason"></textarea>
											</div>
										</div>
 										<div class="job_form_row clearfix">
											<div class="_t dib" style=""> <b>*</b>	 您的职业生涯规划：	</div>
											<div class="_input dib _long">
												<textarea class="_textarea" data-max="512" id="self_evaluation" name="self_evaluation" required></textarea>
											</div>
										</div>
										<div class="job_form_row clearfix">
											<div class="_t dib" style="">	<b>*</b>备注：	</div>
											<div class="_input dib _long">
 												<div class="_input   _long">
													1、是否考虑接受集团外派到龙口市外工作：
													 <input type="radio" name="work_other_city" value="1" checked>是
													 &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="work_other_city" value="0">否
												</div>
												<div class="_input   _long">
												2、是否拥有龙口市常住居民户口（非学校集体户）：
												 <input type="radio" name="native_residence" value="1" checked>是
												 &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="native_residence" value="0">否
											</div>
											</div>
										</div>
									</div>
									<div style="clear:both"></div>
									<div class="row1">
										<div class="span-12">
											<div class="_act">
												<button class="sub submit" type="button">提交</button>
												<button class="res reset" type="reset">重置</button>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" name="method" value="jobResume">
							</form>

						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
	<include file="PC/Public/foot" />


	<script type="text/javascript">
		jQuery(document).ready(function() {
			$('.date-picker').datepicker({
				format: 'yyyy-mm-dd',
				autoclose: true
			});
			$('.job_form').fileupload({ replaceFileInput: false, autoUpload:false,formAcceptCharset:'utf-8',processalways: function(e,data) {
				var index = data.index,
				preview = data.files[index].preview;
				$(".image-preview-box").html( preview);
				console.log(preview, data.files);
			}});

			var validator = $(".job_form").validate();
			console.log("validator", validator);
			$('.job_form .submit').click(function() {
				if (validator.form()) {
					let url = $(".job_form").attr('action');
					let filesList = $('.job_form input[type="file"]').prop('files');
					console.log("filesList2", filesList );
					let jqXHR =$('.job_form').fileupload('send', {files: filesList, formData:$(".job_form").serializeArray(), url: url})
						.success(function (result, textStatus, jqXHR) {
							if (result.ret == 1) {
								layer.open({
									title: '在线简历',
									content: '您的简历已经提交成功！'
								});
								validator.reset();
								document.getElementById("job_form").reset();
								$(".image-preview-box").html( '');

							} else {
								alert("抱歉，由于系统原因，暂时无法提交，请您稍后再提交！");
							}
						}).error(function (jqXHR, textStatus, errorThrown) { }).complete(function (result, textStatus, jqXHR) { });

				} else {
					alert('请检查填写表单，按照提示完善内容！')
				}
			})

			$('.add_work').on('click', function() {
				//用jquery获取模板
				var container = $(this).parents('.teamW');
				let maxrows = $('input[name="maxrows"]', container).val();
				var source = $('.template', container).html();
				var length = $('.teamItemW', container).size()
				if( length >=maxrows ){ return; }
				//预编译模板
				var template = Handlebars.compile(source);
				//模拟json数据
				var context = {
					i: length + 1
				};
				//匹配json内容
				var html = template(context);
				//输入模板
				$(' .teamItems', container).append(html);

				$('.date-picker', container).datepicker({
					format: 'yyyy-mm-dd',
					autoclose: true
				});
			})
			//$('#content').handlebars($('#template'), { name: "Alan" });
			$('.del_work').on('click', function() {
				var container = $(this).parents('.teamW');
				var length = $('.teamItemW', container).size()
				if( length <=1 ){ return; }

				$(' .teamItemW:last', container).remove();
			})
			$('  .reset').on('click', function() {
				validator.reset();
			})

			$('.list_job_btn').on('click', function() {
				$('.apply_job').hide();
				$('.jobs').fadeIn();
			})
			$('.apply_job_btn').on('click', function() {
				$('.jobs').hide();
				$('.apply_job').fadeIn();
			})

		});
	</script>

</body>

</html>
