<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$config_data.name}</title>
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/PC/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/swiper.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/liMarquee.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/style1.css" rel="stylesheet" type="text/css" />

<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/PC/js/jquery.liMarquee.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
  <div class="bodyer">
  	<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_parent.pc_pic}) no-repeat center; background-size: cover; height: 360px;"></div>
    <div class="other_content neijj">
				<div class="neijj-zhong">
					<div class="neijj-left">
						<h4>{$column_parent_name}</h4>
						<ul>
							<volist name="column_list" id="vo">
								<li class="<eq name="vo.id" value="$Think.get.column_id">over</eq>"><a href="{:U('Index/column',array('column_id'=>$vo['id']))}">
									{$vo.name}</a></li>
  						</volist>

						</ul>
					</div>
					<div class="neijj-right">
						<img src="__PUBLIC__/Home/PC/images/zhonglai/jj_01.jpg" class="shou-gy">
						<h4>{$column_data.name}</h4>
						<span class="entitle">ENTERPRISE INTRODUCTION</span>
						<div class="shou-mian">
							<img src="__PUBLIC__/Home/PC/images/zhonglai/jj_02.jpg" class="shou-jj">
							<span>首页&gt;<a href="">{$column_parent_name}</a>&gt;<a href="">{$column_data.name}</a></span>
						</div>

						<div style="clear:both"></div>
						<hr>
						<div class="neirong">
							<ul class="article-image-list clearfix">
								<volist name="list" id="vo">
									<li class=""><a href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
										<img src="__ROOT__/Uploads/{$vo.thumb}" height="200">
										<p> {$vo.title}</p>
									</a></li>
								</volist>
							</ul>
							<div class="page">{$page}</div>

						</div>

					</div>
				</div>
    </div>
  </div>
  <include file="PC/Public/foot" />
</body>
</html>
