<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>山东中莱建设集团</title>
	<include file="PC/Public/assets" />


</head>

<body>
	<include file="PC/Public/head" />
	<div class="banner">
		<div class="index_banner swiper-container">
			<div class="swiper-wrapper">
				<volist name="slide_list" id="vo">
					<a class="swiper-slide" href="{$vo.url}" target="_blank">
						<div class="swiper-slide" style="background:url(__ROOT__/Uploads/{$vo.pic}) no-repeat center;"></div>
					</a>
				</volist>
			</div>
		</div>
		<script type="text/javascript">
			var mySwiper = new Swiper('.index_banner', {
				autoplay: 5000, //可选选项，自动滑动
				autoplayDisableOnInteraction: false
			})
		</script>
	</div>
	<div class="nei">
		<div class="nei-zhong">
			<div class="yewu">
				<h4>业务领域</h4>
				<p><a href="{:U('Index/column',array('column_id'=>8))}">更多&gt;</a></p>
				<div style="clear:both"></div>
				<ul>
					<volist name="chanye_columns" id="vo" offset="0" length='4'>
						<li class="">
							<img src="__ROOT__/Uploads/{$vo.pc_pic}" alt="{$vo.name}"/>
							<a href="{:U('Index/column',array('column_id'=>$vo['id'] ))}">{$vo.name}</a>
						</li>
					</volist>
				</ul>
			</div>
		</div>
		<div class="nei-wen">
			<div class="slideBox">
				<div class="hd" id="hd1">
					<ul>
						<volist name="lunbo_list" id="vo" offset="0" length='4'>
						<li class=""> {$i}</li>
					  </volist>
					</ul>
				</div>

				<div class="bd">
					<ul>
						<volist name="lunbo_list" id="vo" offset="0" length='4'>
							<li style="<neq name='i' value='1'>display:none</neq>"><a href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id'] ))}" target="_blank">
								<img src="__ROOT__/Uploads/{$vo.thumb}" alt="{$vo.name}"/>
								</a>
							</li>
						</volist>
					</ul>
				</div>
			</div>
			<script type="text/javascript">
				jQuery(".slideBox").slide({
					mainCell: ".bd ul",
					autoPlay: true
				});
			</script>
			<div class="nei-xin">

				<div class="hd">
					<ul class="clearfix">
						<li class="on">集团新闻</li>
						<li class="">下属动态</li>
					</ul>
					<a href="" class="nei-duo" style="line-height:30px;">更多&gt;</a>
				</div>
				<div class="bd">
					<ul class="xxww" style="display:block">
						<volist name="jituan_list" id="vo" offset="0" length='7'>
								<li class="clearfix">
									<a  href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
										<span class="title pull-left">{$vo.title}</span>
										<span class="time pull-right">{$vo.post_time|mb_substr=0,10,'utf-8'}</span>
									</a>
								</li>
						</volist>

					</ul>
					<ul class="xxww" style="display:none">
						<volist name="xiashu_list" id="vo" offset="0" length='7'>
								<li class="clearfix">
									<a  href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
										<span class="title pull-left">{$vo.title}</span>
										<span class="time pull-right">{$vo.post_time|mb_substr=0,10,'utf-8'}</span>
									</a>
								</li>
						</volist>
					</ul>
				</div>
				<script type="text/javascript">
				  jQuery(".nei-xin").slide( );
				</script>
			</div>
		</div>
		<div class="nei-jianjie">
			<ul>
				<li>
					<h4 class="title">企业简介</h4>
					<img src="__PUBLIC__/Home/PC/images/zhonglai/shou_29.jpg" class="nei-xian-tu">
					<p>山东中莱集团坐落于风景秀丽、美丽富饶的海滨城市——龙口，成立于一九九二年，现已发展成一个集建筑安装、房地产开发与销售、物业管理、装饰装修、塑钢门窗、餐饮洗浴、宾馆服务、建材经营、工程咨询等多种产业为一体的综合性企业集团，走出了一条”一业为主，多业并举，求真务实、稳健经营“的多元化发展道路。
					</p>
				</li>
				<li>
					<h4 class="title">行业动态<a href="{:U('Index/column',array('column_id'=>22))}" class="nei-duo">更多&gt;</a></h4>
					<img src="__PUBLIC__/Home/PC/images/zhonglai/shou_31.jpg" class="nei-xian-tu">
					<div style="clear:both"></div>
					<ul class="xinwen">
						<volist name="hangye_list" id="vo" offset="0" length='8'>
								<li class="">
									<a  class="clearfix" href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
										<span class="nei-title pull-left">{$vo.title}</span>
										<span class="nei-duo pull-right">{$vo.post_time|mb_substr=0,10,'utf-8'}</span>
									</a>
								</li>
						</volist>

					</ul>
				</li>
				<li>
					<h4 class="title">党群工作<a href="{:U('Index/column',array('column_id'=>17))}" class="nei-duo">更多&gt;</a></h4>
					<img src="__PUBLIC__/Home/PC/images/zhonglai/shou_33.jpg" class="nei-xian-tu">
					<div style="clear:both"></div>
					<ul class="xinwen">
						<volist name="dangqun_list" id="vo" offset="0" length='7'>
								<li class="">
									<a  class="clearfix" href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
										<span class="nei-title pull-left">{$vo.title}</span>
										<span class="nei-duo pull-right">{$vo.post_time|mb_substr=0,10,'utf-8'}</span>
									</a>
								</li>
						</volist>
					</ul>
				</li>
			</ul>
		</div>
		<div class="nei-shi">
			<ul>
				<li>
					<h4 class="title" style="margin-bottom:0;">视频展播</h4>
					<img src="__PUBLIC__/Home/PC/images/zhonglai/video.jpg" class="nei-xian-tu" style="width: 326px; height: 200px;margin: 0;" />
					<!--<VIDEO src="movie.ogg" class="nei-xian-tu" poster="__PUBLIC__/Home/PC/images/zhonglai/video.jpg"></VIDEO> -->
				</li>
				<li class="shi-zhuan">
					<h4 class="title">专题专栏</h4>

					<div class="shi-top">
						<a href="" class="xin-left"><img src="__PUBLIC__/Home/PC/images/zhonglai/shou_39.jpg"></a>
						<a href="" class="xin-right"><img src="__PUBLIC__/Home/PC/images/zhonglai/shou_41.jpg"></a>
						<a href="" class="xin-left"><img src="__PUBLIC__/Home/PC/images/zhonglai/shou_45.jpg"></a>
						<a href="" class="xin-right"><img src="__PUBLIC__/Home/PC/images/zhonglai/shou_47.jpg"></a>
					</div>

				</li>
				<li class="shi-re">
					<h4 class="title">热点链接</h4>
					<div class="shi-top">
						<a href="" class="shi-dian1">OA办公</a>
						<a href="" class="shi-dian2">招标平台</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<include file="PC/Public/foot" />
</body>

</html>
