<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/PC/css/liMarquee.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/css.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/PC/js/jquery.liMarquee.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
  <div class="bodyer">
  	<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center;"></div>
    <div class="junior_content">
			<div class="junior_content_title">
      	<div class="junior_content_title_word">专业选择</div>
        <div class="junior_content_title_line"></div>
        <div class="junior_content_title_en">MAJOR CHOICE</div>
      </div>
      <div class="junior_list">
      	<ul>
        	<volist name="major_list" id="vo">
          <eq name="i%4" value="0">
      		<li class="last">
						<eq name="vo.disabled" value="0">
							<a href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
						<else/>
							<a href="#" onclick="alert('抱歉，当前专业今年不招生。');return false;">
						</eq>
          	<a href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
          		<img src="__ROOT__/Uploads/{$vo.thumb}" width="274"  />
            	<div class="junior_list_title">{$vo.title}</div>
            </a>
          </li>
          <else/>
          <li>
						<eq name="vo.disabled" value="0">
							<a href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
						<else/>
							<a href="#" onclick="alert('抱歉，当前专业今年不招生。');return false;">
						</eq>
          		<img src="__ROOT__/Uploads/{$vo.thumb}" width="274" />
            	<div class="junior_list_title">{$vo.title}</div>
            </a>
          </li>
          </eq>
          </volist>

        </ul>
        <div class="clear">
        </div>
      </div>
      <div class="junior_content_title">
      	<div class="junior_content_title_word">学习模式</div>
        <div class="junior_content_title_line"></div>
        <div class="junior_content_title_en">LEARNING MODEL</div>
      </div>
      <div class="junior_content_content">
      	<p>　　自考大专是我国高等教育基本制度之一，是我国现阶段高等教育的一个重要组成部分，是以学历考试为主的高等教育国家考试制度；是个人自学、社会助学、国家考试相结合的高等教育形式，待遇与高考统招生相同。</p>
				<p>　　自学考试的特点是：学费低、教考分离、毕业生质量高、宽进严出、课程的社会适应性强、单科结业、不限补考次数、各科成绩合格准予毕业、颁发毕业证，是一种开放灵活的学习形式，毕业证含金量相对比较高。</p>
				<p>　　我校是省级重点职业学校，同时也是辽宁装备制造学院大连教学区，采取“技校+自考大专”联读模式，学生在学校学习中职课程的同时，同步读取自考大专课程。</p>
      </div>
      <div class="junior_content_title">
      	<div class="junior_content_title_word">学习进度</div>
        <div class="junior_content_title_line"></div>
        <div class="junior_content_title_en">RATE OF LEARNING</div>
      </div>
      <div class="junior_content_content">
      	<p>　　本校为三年学制,学生在校学习两年，期间完成全部中职课程、大部分大专课程，第六学期开始到企业带薪实习(认知实习、轮岗实习、顶岗实习）。毕业后可获得三证：《中职学历证书》、《中级职业资格证书》、《大专学历证书》。</p>
      </div>
      <div class="junior_content_title">
      	<div class="junior_content_title_word">我们的优势</div>
        <div class="junior_content_title_line"></div>
        <div class="junior_content_title_en">OUR ADVANTAGE</div>
      </div>
      <ul class="superiority_list">
      	<volist name="superiority_list" id="vo">
        <eq name="i" value="1">
      	<li class="first">
        	<a href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
            <div class="superiority_list_pic">
              <img src="__ROOT__/Uploads/{$vo.thumb}" width="296" height="194" />
            </div>
            <div class="superiority_list_title">
              {$vo.title}
            </div>
            <div class="superiority_list_word">
              　　{$vo.descriptions}
            </div>
          </a>
        </li>
        <else/>
        <li>
        	<a href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
            <div class="superiority_list_pic">
              <img src="__ROOT__/Uploads/{$vo.thumb}" width="296" height="194" />
            </div>
            <div class="superiority_list_title">
              {$vo.title}
            </div>
            <div class="superiority_list_word">
              　　{$vo.descriptions}
            </div>
          </a>
        </li>
        </eq>
        </volist>
      </ul>
      <div class="clear"></div>
      <div class="junior_content_title">
      	<div class="junior_content_title_word">适合人群</div>
        <div class="junior_content_title_line"></div>
        <div class="junior_content_title_en">SUITABLE CROWD</div>
      </div>
      <div class="junior_content_content">
      	<a href="{:U('Index/article',array('column_id'=>12,'id'=>15))}#chuzhong"><img src="__PUBLIC__/Home/PC/images/junior_content_pic_37.jpg" width="854" height="60" /></a>
      </div>
    </div>
  </div>
  <include file="PC/Public/foot" />
</body>
</html>
