<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<link href="__PUBLIC__/Home/PC/css/liMarquee.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/Home/PC/css/css.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
	<script src="__PUBLIC__/Home/PC/js/jquery.liMarquee.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
	<div class="bodyer">
		<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center;"></div>
		<div class="content">
			<div class="japan" style="width:1000px;margin: 0 auto;">
				<div class="u-section">
					<p class="u-head">
						<span class="hicon "> 日本介护福祉士-<br/>日本留学就业的新途径</span>
					</p>
					<div>
						<p style="padding: 0 0 24px 0; text-align:2em;">
							大连重工集团技工学校作为日本IGL集团指定合作伙伴，欢迎广大学子加入！我们将为您的留学、就业、发展保驾护航！
						</p>
						<p style="padding: 0 0 24px 0; text-align:2em;">
							日本IGL集团是一个以养老护理、康复、教育为主营业务的现代化服务机构，也是一个拥有五十年历史的日本知名企业集团，现拥有现代化的养老院、老年诊所、介护学校等60多个分支机构。
						</p>
						<p style="padding: 0 0 24px 0; text-align:2em;">
							IGL集团旗下的“IGL医疗福祉专门学校”在日语教育和“介护福祉士”培养方面享有盛誉，与亚洲众多国家有着学术合作和国际交流，是留学生安心学习、生活、就业的理想场所。
						</p>
						<div class="clear">
							<div style="float:left;width:50%; text-align:center;"> <img src="__PUBLIC__/Home/PC/images/japan/j1.png" /></div>
							<div style="float:left;width:50%; text-align:center;"> <img src="__PUBLIC__/Home/PC/images/japan/j2.png" /></div>
						</div>
					</div>
				</div>
				<div class=" advantage u-section">
					<p class="u-head">
						<span class="hicon hicon1 ">专业优势</span><br/>
					</p>
					<table width="100%" class="u-content ">
						<tbody>
							<tr class="" style="">
								<td width="50%" valign="top" class="lft">
									<p class="ptitle " style="">
										工资待遇丰厚
									</p>
									<p class="icon-wrap">
										<span class="icon icon1"> </span>
									</p>
									<div class="pcontent">
										日本已经进入老龄化时代，养老标准高且专业护理人才严重缺乏，因此该行业工资高、待遇好、作息时间规律，每年收入不低于300万日元。
									</div>
								</td>
								<td width="50%" valign="top" class="rgt">
									<p class="ptitle">
										工作环境良好
									</p>
									<p class="icon-wrap">
										<span class="icon icon2"> </span>
									</p>
									<div class="pcontent">
										日本养老标准很高，因此日本的养老院的条件都非常好，介护人员工作环境非常明亮、洁净、舒适。
									</div>
								</td>
							</tr>
							<tr>
								<td width="50%" valign="top" class="lft">
									<p class="ptitle">
										社会地位较高
									</p>
									<p class="icon-wrap">
										<span class="icon icon3"> </span>
									</p>
									<div class="pcontent">
										日本是一个比较讲究传统孝道的国家，尊重老人、也礼遇介护人员。中方护理人员拥有与日本籍护理人员同等的待遇。
									</div>
								</td>
								<td width="50%" valign="top" class="rgt">
									<p class="ptitle">
										工作强度较低
									</p>
									<p class="icon-wrap">
										<span class="icon icon4"> </span>
									</p>
									<div class="pcontent">
										日本是一个高度发达国家，养老院设计先进、养老设施发达，基本实现机械化、自动化，介护人员的工作强度非常低。
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<p class="ptitle">
										收费人性化
									</p>
									<p class="icon-wrap">
										<span class="icon icon5"> </span>
									</p>
									<div class="pcontent">
										日本介护福祉学校学生打工是合法的，学生可以在业余时间工作，赚取学费和生活费。日本学校收费也比较人性化，学生可以先交40万日元的费用，以后的费用可以用业余时间打工的收入抵顶学费，也可以用工作后的薪资补交学费，这也是日本学生的普遍缴费方式。
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="plans u-section">
					<p class="u-head" style="">
						<span class="hicon hicon32">职业发展设计</span>
					</p>
					<div class="u-content ">
						<div class="plan plan1 clear">
							<div class="lft" style=""><img src="__PUBLIC__/Home/PC/images/japan/plan1.png" /> </div>
							<div class="rgt">
								<p class="ptitle">
									<span class="ptitle-sub1" style="">01</span>
									<span class="ptitle-sub2" style="">国内学习1-3年</span>
								</p>
								<p class="pcontent" style="">
									学习基本的护理知识、医疗知识、日本文化、强化日语。取得大重技校毕业证书和日本语2级以上等级证书，具备出国条件。
								</p>
							</div>
						</div>
					</div>
					<div class="plan clear">
						<div class="lft" style=""><img src="__PUBLIC__/Home/PC/images/japan/plan2.png" /> </div>
						<div class="rgt">
							<p class="ptitle">
								<span class="ptitle-sub1" style="">02</span>
								<span class="ptitle-sub2" style="">日本学习两年</span>
							</p>
							<p class="pcontent" style="">
								在日本“IGL医疗福祉专门学校”学习专业的护理知识、医疗知识、各项专业技能、突破语言障碍，并取得该校毕业证书和日本《介护福祉士》职业证书，具备就业条件。
							</p>
						</div>
					</div>
					<div class="plan clear">
						<div class="lft" style=""><img src="__PUBLIC__/Home/PC/images/japan/plan3.png" /> </div>
						<div class="rgt">
							<p class="ptitle">
								<span class="ptitle-sub1" style="">03</span>
								<span class="ptitle-sub2" style="">高薪就业</span>
							</p>
							<p class="pcontent" style="">
								IGL集团为毕业生在日本养老或社区医疗机构安排工作，轻松赚取高薪，并可办理日本永久居民身份，愉快地享受工作和生活。
							</p>
						</div>
					</div>
					<div class="plan clear">
						<div class="lft" style=""><img src="__PUBLIC__/Home/PC/images/japan/plan4.png" /> </div>
						<div class="rgt">
							<p class="ptitle">
								<span class="ptitle-sub1" style="">04</span>
								<span class="ptitle-sub2" style="">继续学习深造</span>
							</p>
							<p class="pcontent" style="">
								升入本科学习，并可以根据自身情况考取《社会福祉士》资格证书，进一步提升职业等级和个人收入。
							</p>
						</div>
					</div>
				</div>
				<div class="recruitment  u-section">
					<p class="u-head">
						<span class="hicon hicon3">招生对象</span>
					</p>

					<table class="u-content ">
						<tr>
							<th> 招生对象</th>
							<th>国内学制</th>
							<th>收费标准</th>
						</tr>
						<tr>
							<td>初中毕业生（9-11年级） </td>
							<td>3年</td>
							<td>13900元/年</td>
						</tr>
						<tr>
							<td> 高中三年级（12年级）</td>
							<td>1年</td>
							<td>18000元/年</td>
						</tr>
						<tr>
							<td> 高中毕业生（有高中毕业证）</td>
							<td>半年</td>
							<td>11000元/年</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>
	<include file="PC/Public/foot" />
</body>

</html>
