<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$data.title} - {$column_data.name} - {$config_data.name}</title>
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/PC/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/swiper.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/style1.css" rel="stylesheet" type="text/css" />

<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
  <div class="bodyer">
  	<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center;">
    </div>
		<div class="other_content neijj">
				<div class="neijj-zhong">

			    <div class="min_nav">

							<a href="/"><img src="__PUBLIC__/Home/MOB/images/jj_02.jpg" class="shou-jj">首页	&gt;
								<a href="{:U('Index/article',array('column_id'=>$column_data['pid']))}">{$column_parent_name}</a>&gt;
			          <a href="{:U('Index/article',array('column_id'=>$column_data['id']))}" class="over">{$column_data.name}</a>
			    </div>
					<h1 class="other_content_right_title">{$data.title}</h1>
	        <div class="other_content_right_other">
	        	{$data.post_time}　　　来源：{$data.source}
	        </div>

			    <div class="other_content_right_news_content content">
			    	{$data.content}
			    </div>


					<div class="other_content_right_news_page">
						<div class="other_content_right_news_page_page">
							<neq name="prev_data" value="">
							<a href="{:U('Index/article',array('column_id'=>$prev_data['column_id'],'id'=>$prev_data['id']))}">上一篇：{$prev_data.title}</a>
							</neq>
						</div>
						<div class="other_content_right_news_page_page">
							<neq name="next_data" value="">
							<a href="{:U('Index/article',array('column_id'=>$next_data['column_id'],'id'=>$next_data['id']))}">下一篇：{$next_data.title}</a>
							</neq>
						</div>
					</div>

				</div>
		</div>
  </div>
  <include file="PC/Public/foot" />
</body>
</html>
