<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/PC/css/liMarquee.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/css.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/PC/js/jquery.liMarquee.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
  <div class="bodyer">
  	<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center;"></div>
    <div class="other_content">
    	<div class="other_content_left" style="height:358px;">
      	<div class="other_content_left_title" style="text-align:left; padding-left:26px;">新闻分类{$column_list.length}</div>
        <ul>
        	<volist name="column_list" id="vo">
        	<li class="<eq name="vo.id" value="$Think.get.column_id">over</eq>"><a href="{:U('Index/column',array('column_id'=>$vo['id']))}"><div class="other_content_left_title_word">{$vo.name}</div></a></li>
          </volist>
        </ul>
      </div>
      <div class="other_content_right">
        <h1 class="other_content_right_title">{$data.title}</h1>
        <div class="other_content_right_other">
        	{$data.post_time}　　　来源：{$data.source}
        </div>
        <div class="other_content_right_news_content">
        	{$data.content}
        </div>
        <div class="other_content_right_news_page">
        	<div class="other_content_right_news_page_page">
          	<neq name="prev_data" value="">
          	<a href="{:U('Index/article',array('column_id'=>$prev_data['column_id'],'id'=>$prev_data['id']))}">上一篇：{$prev_data.title}</a>
            </neq>
          </div>
          <div class="other_content_right_news_page_page">
          	<neq name="next_data" value="">
          	<a href="{:U('Index/article',array('column_id'=>$next_data['column_id'],'id'=>$next_data['id']))}">下一篇：{$next_data.title}</a>
            </neq>
          </div>
        </div>
        <div class="other_content_right_btn">
        	<a href="{$config_data.consult}" target="_blank"><img src="__PUBLIC__/Home/PC/images/other_content_right_btn_22.jpg" width="211" height="52" /></a>
          <a href="{$config_data.consult}" target="_blank"><img src="__PUBLIC__/Home/PC/images/other_content_right_btn_24.jpg" width="211" height="52" /></a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <include file="PC/Public/foot" />
</body>
</html>
