<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$config_data.name}</title>
	<meta name="keywords" content="{$config_data.keywords}" />
	<meta name="description" content="{$config_data.description}" />
	<link href="__PUBLIC__/Home/PC/css/liMarquee.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/Home/PC/css/css.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
	<script src="__PUBLIC__/Home/PC/js/jquery.liMarquee.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
	<div class="bodyer">
		<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center;"></div>
		<div class="max_content canada">
			<ul class="u-menu" style="margin:0 -10px;">
				<li><a href="{:U('Index/article',array('column_id'=>10,'id'=>10))}"><img src="<eq name='Think.get.id' value='10'>__PUBLIC__/Home/PC/images/max_content_btn_06.jpg<else/>__PUBLIC__/Home/PC/images/max_2_btn_03.jpg</eq>" /></a></li>
				<li><a href="{:U('Index/article',array('column_id'=>10,'id'=>12))}"><img src="<eq name='Think.get.id' value='12'>__PUBLIC__/Home/PC/images/max_3_btn_07.jpg<else/>__PUBLIC__/Home/PC/images/max_content_btn_10.jpg</eq>" /></a></li>
				<li><a href="{:U('Index/article',array('column_id'=>10,'id'=>11))}"><img src="<eq name='Think.get.id' value='11'>__PUBLIC__/Home/PC/images/max_2_btn_05.jpg<else/>__PUBLIC__/Home/PC/images/max_content_btn_08.jpg</eq>"  /></a></li>
			</ul>
			<div class="clear"></div>
			<div class="max_content_content">
				<div class="u-section">
					<p class="u-head" style="">
						<span class="hicon hicon31">我们的优势</span>
					</p>
					<div class="u-content" style="">
						<p style="padding: 0 0 36px 0;">
							乔治亚学院与大连重工技校于2018年达成合作，结成紧密型战略伙伴关系。大连重工技校作为乔治亚学院中国东北地区唯一的应用类高中教育合作伙伴，共同开办乔治亚学院定向留学班，为普通学子出国留学、进入国际职场、高薪就业、移民加拿大等，提供便捷又经济实惠的通道。
						</p>
					</div>
				</div>

				<div class="u-section">
					<p class="u-head" style="">
						<span class="hicon ">加拿大乔治亚学院<br/>中国东北地区唯一的高中阶段合作学校</span>
					</p>
					<div class="u-content" style="">
						<p style="padding: 0 0 36px 0;">
							<img title="在加拿大读大学与学院的比较" src="__PUBLIC__/Home/PC/images/canada/f31.png" />
						</p>
					</div>
				</div>

				<div class="u-section">
					<p class="u-head" style="">
						<span class="hicon hicon32">您最佳的留学途径</span>
					</p>
					<div class="u-content" style="">
						<div class="adv ">
							<p class="title title1">
								留学目标明确
							</p>
							<p style="padding: 24px 0; text-indent:2em;">
								大连重工技校的定向留学班，旨在为普通工薪阶层子女创立加拿大留学、国际就业、移民的最佳路径。
							</p>
						</div>
						<div class="adv ">
							<p class="title title2">
								课程无缝对接
							</p>
							<p style="padding: 24px 0; text-indent:2em;">
								大连重工技校的定向留学班将执行乔治亚学院的专业英语预科教学体系，提前教授与乔治亚学院专业衔接的基础课程， 并安排学生进行多项文化适应活动。完善的出国前指导，与乔治亚学院教学体系的专业衔接，使大连重工技校定向留学班的毕业生比一般的留学生在适应文化差异、课堂学习、异国生活方面更具备优势。
							</p>
						</div>
						<div class="adv ">
							<p class="title title3">
								全程服务保障
							</p>
							<p style="padding: 24px 0; text-indent:2em;">
								大连重工技校已在加拿大安大略省设立了教育服务公司（Hurock Education Development Inc.，公司网址：www.hurock.ca），学生落地加拿大后，由我校的海外公司为学生提供生活、学习、就业、签证、移民等全程的服务。

							</p>
						</div>
						<div class="adv ">
							<p class="title title4">
								留学费用最低
							</p>
							<p style="padding: 24px 0; text-indent:2em;">
								大连重工技校与乔治亚学院直接合作，无中介费，国内段学费远低于其他贵族化国际课程。在加拿大留学期间学生有较多的带薪实习和工作机会，收入足够支付大部分（甚至全部）学习及生活费用。

							</p>
						</div>
						<div class="adv ">
							<p class="title title5">
								续读名校
							</p>
							<p style="padding: 24px 0; text-indent:2em;">
								乔治亚学院与多所知名大学有转学分协议，学生在乔治亚学习2-3年后，可以直接转学分到著名的大学继续学习,并节省时间与节省费用。
							</p>
						</div>
					</div>
				</div>
				<p style="padding: 0 0 36px 0;">
					<img title="在加拿大读大学与学院的比较" src="__PUBLIC__/Home/PC/images/canada/f32.png" />
				</p>
			</div>
		</div>
	</div>
	<include file="PC/Public/foot" />
</body>

</html>
