<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$config_data.name}</title>
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/PC/css/liMarquee.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/css.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/PC/js/jquery.liMarquee.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
  <div class="bodyer">
  	<div class="other_banner" style="background:url(__ROOT__/Uploads/{$column_data.pc_pic}) no-repeat center;"></div>
    <div class="reason_content">
			<div class="reason_content_title">
      	<div class="reason_content_title_word">
        	传统名校
        </div>
        <div class="reason_content_title_line">
        	<div class="reason_content_title_line_box"></div>
        </div>
        <div class="reason_content_title_en">TRADITIONAL ELITE</div>
      </div>
      <div class="reason_content_content">
      	<div class="reason_content_content_left_1">
        	<img src="__PUBLIC__/Home/PC/images/reason_content_content_left_1_09.jpg" width="30" height="30" />教育需要积累，学校需要底蕴，老师要有匠心情怀。大连重工集团技工学校成立于1958年，有着60年的办学历史，是真正意义上的传统名校。我校师资力量雄厚，教师队伍师德高尚，对学生耐心周到。悉心培养了以全国高级工人技师代表、全国劳动模范 “王亮”为代表的众多优秀技术人才，数万名毕业生已成为了大连各大企业的技术骨干和管理干部，学校因此被誉为“技能人才的摇篮”。
建校近六十年来，“治学严谨，管理规范，技能为本”的办学传统一直被学校历代领导和老师所坚守，学校创办伊始就提出的“不求办学规模，但求教育价值”的办学定位也从未被改变。在教育规模化和商业化的大趋势下，大重技校始终不忘初心，坚守自己扎实严谨的风格，坚持就业导向，让学生始终具备技能、学历、就业三大竞争优势，为学生走向社会并实现良好就业打下坚实的基础。
        </div>
        <div class="reason_content_content_right_2">
        	<img src="__PUBLIC__/Home/PC/images/reason_content_content_right_2_15.jpg" width="319" height="305" />
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="reason_content_gray">
      <div class="reason_content">
        <div class="reason_content_title">
          <div class="reason_content_title_word">
            治学严谨
          </div>
          <div class="reason_content_title_line">
            <div class="reason_content_title_line_box"></div>
          </div>
          <div class="reason_content_title_en">RIGOROUS SCHOLARSHIP</div>
        </div>
        <div class="reason_content_content">
          <div class="reason_content_content_word">
          	<img src="__PUBLIC__/Home/PC/images/reason_content_content_word_20.jpg" width="35" height="32" />学校的价值就在于教书育人。为了学生的成长、保持不为名利所动的定力，是教育者最朴素的价值观。本校一直秉承治学严谨的良好传统，让学生学有所长、学以致用。
          </div>
          <div class="reason_content_content_word_2">
          	<img src="__PUBLIC__/Home/PC/images/reason_content_content_word_2_30.jpg" width="265" height="254" />
            <img src="__PUBLIC__/Home/PC/images/reason_content_content_word_2_31.jpg" width="265" height="254" />
            <ul class="reason_content_content_word_2_list">
            	<li>
              	<div class="reason_content_content_word_2_list_left">端正教风</div>
                <div class="reason_content_content_word_2_list_right"><table><tr><td>打造了一支教学能力强、有责任心的师资队伍。</td></tr></table></div>
              </li>
              <li class="last">
              	<div class="reason_content_content_word_2_list_left">教考分离</div>
                <div class="reason_content_content_word_2_list_right"><table><tr><td>用学生的真实成绩说话，认真关注每一名学生，不让一个学生掉队。</td></tr></table></div>
              </li>
              <li>
              	<div class="reason_content_content_word_2_list_left">校企结合</div>
                <div class="reason_content_content_word_2_list_right"><table><tr><td>不断更新知识，拓宽视野，让学生学到知识适应企业需要。</td></tr></table></div>
              </li>
              <li class="last">
              	<div class="reason_content_content_word_2_list_left">规范管理</div>
                <div class="reason_content_content_word_2_list_right"><table><tr><td>建立了严谨规范的教学常规管理体系、教学质量评估体系，用制度保证教学质量。</td></tr></table></div>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
    	</div>
    </div>
    <div class="reason_content">
			<div class="reason_content_title">
      	<div class="reason_content_title_word">
        	全面关怀
        </div>
        <div class="reason_content_title_line">
        	<div class="reason_content_title_line_box"></div>
        </div>
        <div class="reason_content_title_en">TOTAL CARE</div>
      </div>
      <div class="reason_content_content">
      	<div class="reason_content_content_word">
          　　我校是首个在国内提出并施行“全面关怀计划（Total Care Program）”的职业学校，这也是当前国际上最人性化、效果最好的教育模式。摒弃把学生单纯看成“受教者”的单项思维，重视学生的情感、心理、兴趣和生活诉求，为学生提供细心的生活关怀。
        </div>
        <img class="reason_content_content_pic" src="__PUBLIC__/Home/PC/images/reason_content_content_37.jpg" width="1198" height="245" />
        <div class="reason_content_content_word_4">
        	<div class="reason_content_content_word_4_left">
          	<div class="reason_content_content_word_4_title">平等的文化氛围</div>
            <div class="reason_content_content_word_4_word">
            	　　平等对待每个学生，全力打造“每生平等“的文化氛围，塑造祥和、纯净的校园文化。对“校霸”和“欺凌”现象零容忍。
            </div>
          </div>
          <div class="reason_content_content_word_4_center">
          	<div class="reason_content_content_word_4_title">全天候的校园管理</div>
            <div class="reason_content_content_word_4_word">
            	　　本校实行24小时全方位的校园管理，没有管理死角，确保校园安全。确保学生安全，学生放心、家长安心！
            </div>
          </div>
          <div class="reason_content_content_word_4_right">
          	<div class="reason_content_content_word_4_title">完善的服务保障</div>
            <div class="reason_content_content_word_4_word">
            	　　学校设有完善的生活设施和保障体系，膳食供应、洗浴、洗衣、商场、娱乐等配套生活设施齐全，让学生在校园内舒心生活、安心学习。
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="reason_content_gray">
      <div class="reason_content">
        <div class="reason_content_title">
          <div class="reason_content_title_word">
            学习规划
          </div>
          <div class="reason_content_title_line">
            <div class="reason_content_title_line_box"></div>
          </div>
          <div class="reason_content_title_en">STUDYING PLAN</div>
        </div>
        <div class="reason_content_content">
          <div class="reason_content_content_word">
          	<img src="__PUBLIC__/Home/PC/images/reason_content_content_word_49.jpg" width="81" height="121" style="margin-right:40px;" />　　本校一向坚持<span style="color:#0f6ab6;font-weight:bold; font-size:22px;">“先规划、后教育”</span>的宗旨，以及<span style="color:#0f6ab6;font-weight:bold; font-size:22px;">“适合自己的，才是最好的”</span>理念，针对学生不同的教育需求、不同的个人意愿，结合学生的兴趣、特长、能力和家庭经济状况，由学校的专业人员、学生、家长三方共同协商，为学生制订出适合学生本人的学习规划，无论是选择就业、升学、出国留学的学习路径，还是专业选择和职业前景，我们都为学生和家长提供专业的建议和相关服务。
          </div>
          <img style="margin-top:41px;" src="__PUBLIC__/Home/PC/images/reason_content_content_word_53.jpg" width="1198" height="267" /> 
        </div>
        <div class="clear"></div>
    	</div>
    </div>
    <div class="reason_content">
			<div class="reason_content_title">
      	<div class="reason_content_title_word">
        	学生为本
        </div>
        <div class="reason_content_title_line">
        	<div class="reason_content_title_line_box"></div>
        </div>
        <div class="reason_content_title_en">EQUALITY&amp;RESPECT </div>
      </div>
      <div class="reason_content_content">
      	<div class="reason_content_content_word_5">
          <div class="reason_content_content_word_5_left">
            <img src="__PUBLIC__/Home/PC/images/reason_content_content_word_5_left_56.jpg" width="142" height="119" />
            <p>
            	　　我校以“学生为本”为育人理念，学生是教育的“主动参与者”而不是单纯的“受教者”，平等交流、相互探讨是教育的本义。尊重学生的想法、激发学生的意愿、引导学生的行为、帮助学生解决学习中的困难，让学生主动学习并享受学习的乐趣。
            </p>
          </div>
          <div class="reason_content_content_word_5_right">
          	<img src="__PUBLIC__/Home/PC/images/reason_content_content_word_63.jpg" width="265" height="254" />
            <img src="__PUBLIC__/Home/PC/images/reason_content_content_word_64.jpg" width="265" height="254" />
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="reason_content_gray">
      <div class="reason_content">
        <div class="reason_content_title">
          <div class="reason_content_title_word">
            就业保障
          </div>
          <div class="reason_content_title_line">
            <div class="reason_content_title_line_box"></div>
          </div>
          <div class="reason_content_title_en">EMPLOYMENT GUARANTEED</div>
        </div>
        <div class="reason_content_content">
          <img src="__PUBLIC__/Home/PC/images/reason_content_content_word_69.jpg" width="1198" height="250" />
        </div>
        <div class="clear"></div>
    	</div>
    </div>
    <div class="reason_content">
			<div class="reason_content_title">
      	<div class="reason_content_title_word">
        	学历优势
        </div>
        <div class="reason_content_title_line">
        	<div class="reason_content_title_line_box"></div>
        </div>
        <div class="reason_content_title_en">ADVANTAGE OF DIPLOMA</div>
      </div>
      <div class="reason_content_content">
      	<div class="reason_content_content_word">
          <img src="__PUBLIC__/Home/PC/images/reason_content_content_word_72.jpg" width="67" height="71" style="margin-right:40px;" />　　学校采用的中职+大专的一体化课程，既注重理论知识，又强化实际操作能力，让学生既具备了动手能力，又具备了职业资格和大专学历，让学生具备职业竞争力，并为职业发展奠定坚实的基础。
        </div>
        <img class="reason_content_content_word_76" src="__PUBLIC__/Home/PC/images/reason_content_content_word_76.jpg" width="750" height="172" />
      </div>
      <div class="clear"></div>
    </div>
    <div class="reason_content_gray">
      <div class="reason_content">
        <div class="reason_content_title">
          <div class="reason_content_title_word">
            惠生政策
          </div>
          <div class="reason_content_title_line">
            <div class="reason_content_title_line_box"></div>
          </div>
          <div class="reason_content_title_en">OUR HELPS</div>
        </div>
        <div class="reason_content_content">
          <div class="reason_content_content_6_left">
          	<img src="__PUBLIC__/Home/PC/images/reason_content_content_word_80.jpg" width="596" height="434" />
          </div>
          <div class="reason_content_content_6_right">
          	<div class="reason_content_content_6_right_title" style="background:#0f6ab6;">国家助学金</div>
            <div class="reason_content_content_6_right_word">
            	　　符合国家颁布的条件者，每年可获取补助金2000元。
            </div>
            <div class="reason_content_content_6_right_title" style="background:#8dc21f;">市政府奖学金</div>
            <div class="reason_content_content_6_right_word">
            	　　符合市政府颁布的条件者，每年可获奖学金3000元。
            </div>
            <div class="reason_content_content_6_right_title" style="background:#2ca6e0;">勤工俭学</div>
            <div class="reason_content_content_6_right_word">
							　　学校提供部分校内勤工助学岗位，年收入3000元左右。<br /> 
							　　学校组织寒假期间勤工助学活动，收入3000元左右。
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
    	</div>
    </div>
  </div>
  <include file="PC/Public/foot" />
</body>
</html>
