<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$config_data.name}</title>
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<link href="__PUBLIC__/Home/PC/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/swiper.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/liMarquee.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Home/PC/css/style1.css" rel="stylesheet" type="text/css" />

<script src="__PUBLIC__/Home/PC/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/Home/PC/js/jquery.liMarquee.js"></script>
</head>

<body>
	<include file="PC/Public/head" />
  <div class="bodyer">
    <div class="other_content neijj">
				<div class="neijj-zhong" style="margin-top:0;">

					<div class="">
						<div class="neirong ">
							<div class="sou">
								<form method="get" action="{:U('Index/search')}" style="width:800px;    margin: 20px auto 0;">
									<input type="text" id="wb" name="keyword" value="{$Think.get.keyword}">
									<input type="submit" id="an" value="搜 索">
								</form>
							  <ul class="">
								<volist name="list" id="vo">
									<li class="clearfix">
	<h4>{$vo.title}</h4>
	<p class="text_ellipsis">{$vo.content|strip_tags|mb_substr=0,128,'utf-8'}</p>
	<p>	<a target="_blank" href="{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']))}">
		{:U('Index/article',array('column_id'=>$vo['column_id'],'id'=>$vo['id']), true, true)}</a>
	</p>
</li>

								</volist>
							</ul>
						  </div>
					    <div class="page"  style="width:800px;margin:auto;">{$page}</div>

						</div>

					</div>
				</div>
    </div>
  </div>
  <include file="PC/Public/foot" />
</body>
</html>
